[2014-01-30 00:48] vooon opened #1 "mavconn library."
Create MAVLink communication library.

[2014-01-30 00:48] #1 closed, assigned to nobody

[2014-01-30 00:52] vooon opened #2 "Pub/sub for Mavlink.msg"
mavlink_ros publish raw messages in Mavlink.msg format.

[2014-01-30 00:52] #2 closed, assigned to nobody

[2014-01-30 00:54] vooon opened #3 "Plugin loading functionality."
Use plugins for extend mavlink<->ROS communications.

[2014-01-30 00:54] #3 closed, assigned to nobody

[2014-01-30 00:55] vooon opened #4 "Diagnostic mesages."
Publish ROS diagnostics.

[2014-01-30 00:55] #4 closed, assigned to nobody

[2014-01-30 00:56] vooon opened #5 "IMU publication plugin"
mavlink_ros converts ATTITUDE to IMU.

[2014-01-30 00:56] #5 closed, assigned to nobody

[2014-01-30 00:57] vooon opened #6 "GPS plugin."
Publish GPS & TimeRefrence messages.

[2014-01-30 00:57] #6 closed, assigned to nobody

[2014-01-30 00:59] vooon opened #7 "System state plugin."
Convert HEARTBEAT's to diagnostics.

[2014-01-30 00:59] #7 closed, assigned to nobody

[2014-01-30 01:02] vooon opened #8 "Parameter plugin"
Create interface to FCU parameters.

[2014-01-30 01:02] #8 closed, assigned to nobody

[2014-01-30 01:04] vooon opened #9 "mavparam utility"
Command line utility for load, dump, set and get FCU parameters.

[2014-01-30 01:04] #9 closed, assigned to nobody

[2014-01-30 01:06] vooon opened #10 "Waypoint plugin"
Create waypoint manipulation plugin.

[2014-01-30 01:07] vooon opened #11 "mavwp utility"
Utility for waypoint manipulation.

[2014-01-30 01:09] vooon opened #12 "Command plugin"
Plugin for give some commands to FCU.

[2014-03-23 16:45] #10 closed, assigned to nobody

[2014-03-23 18:09] #11 closed, assigned to nobody

[2014-03-25 07:57] vooon opened #13 "Fix IMUPub raw imu and magnetometer and temterature pub (APM)"
APM won't send high resolution imu message (seens only PX4 does).

[2014-03-25 08:03] vooon opened #14 "Add support QGC param file"
Add support QGC format to mavparam.

Currently my QGC on linux won't save params (I've got file with header only).

[2014-03-25 08:06] vooon opened #15 "Add support MP waypoints file format to mavwp"
Figure out how to save mission in MissionPlanner and add support of these files to mavwp

[2014-03-31 12:35] #14 closed, assigned to vooon

[2014-05-14 13:10] #15 closed, assigned to vooon

[2014-05-14 14:30] vooon opened #16 "Add status publication"
Publicate status like roscopter.

[2014-05-14 14:32] vooon opened #17 "Publicate RC input status"
Publicate RC_CHANNELS from FCU.

[2014-05-14 20:09] #13 closed, assigned to vooon

[2014-05-15 15:06] vooon opened #18 "Add HWSTATUS diagnostic"

[2014-05-15 15:53] vooon opened #19 "Publish battery status"

[2014-05-15 16:18] vooon opened #20 "Send HEARTBEAT to FCU"
Add option for send heartbeat to autopilot for failsafe.

[2014-05-15 16:54] #18 closed, assigned to vooon

[2014-05-15 16:54] #19 closed, assigned to nobody

[2014-05-15 18:00] #20 closed, assigned to vooon

[2014-05-20 10:53] #16 closed, assigned to vooon

[2014-05-20 11:00] vooon opened #21 "Additional UDP proxy via ROS Mavlink.msg"
Client for /mavlink/to & from topics.

[2014-05-20 11:59] #21 closed, assigned to vooon

[2014-06-05 06:59] vooon opened #22 "Override RC inputs topic"

[2014-06-06 08:18] vooon opened #23 "Configure stream rates"
Send DATA_STREAM messages.

[2014-06-06 13:54] #17 closed, assigned to vooon

[2014-06-06 16:23] mhkabir opened #24 "Cannot compile mavros"
I tried building mavros with catkin on ROS Hydro + Ubuntu 13.04 on an Odroid U3.

Catkin build fails at 86% :

[ 84%] [ 85%] [ 86%] Building CXX object mavros/CMakeFiles/mavconn.dir/src/mavconn/mavconn_interface.cpp.o
Building CXX object mavros/CMakeFiles/mavconn.dir/src/mavconn/mavconn_serial.cpp.o
Building CXX object mavros/CMakeFiles/mavconn.dir/src/mavconn/mavconn_udp.cpp.o
In file included fr

[2014-06-07 09:50] #24 closed, assigned to nobody

[2014-06-07 09:55] mhkabir opened #25 "Sending commands to FCU"
What would be best way we could implement sending of messages via Mavlink to a connected FCU?

I want to send the VISION_POSITION_ESTIMATE mavlink message, with data from another node.

[2014-06-07 15:51] #12 closed, assigned to nobody

[2014-06-08 09:21] vooon opened #26 "Fix timeouts (double timeouts converted to ineger seconds)"

[2014-06-09 07:12] #25 closed, assigned to nobody

[2014-06-09 09:45] vooon opened #27 "Add package to ros.org package index and documentation"

[2014-06-09 12:20] vooon opened #28 "Fix mavlink dialect selection"
`catkin_make -DMAVLINK_DIALECT=ffuuu` compiles fine!

[2014-06-09 12:52] #28 closed, assigned to vooon

[2014-06-10 07:19] mhkabir opened #29 "Auto start mavlink via NSH on PX4"
When a PX4/Pixhawk board is connected via USB, it automatically brings up a nsh shell and not mavlink. Basically mavros shows "connected" without checking for a Mavlink heartbeat.

You can get a MAVLink instance on /dev/ttyS0 via serial:

const char init[] = {0x0d, 0x0d, 0x0d};
link->write(init, sizeof(init));
const char\* cmd = "sh /etc/init.d/rc.usb\n";
link->write(cmd, strlen(cmd));
link->write

[2014-06-10 07:28] mhkabir opened #30 "Implementation of image streaming via MAVLink"
http://qgroundcontrol.org/mavlink/image_transmission_protocol

Would be great if the above could be implemented such that ROS Images could be send down via Mavlink to GCS. Mavros could act as a ROS<>Mavlink video bridge.

[2014-06-11 10:36] #27 closed, assigned to nobody

[2014-06-11 10:37] vooon opened #31 "Fix installation rules."
- ros_udp
- pluginlib xml

[2014-06-11 10:55] #31 closed, assigned to nobody

[2014-06-11 14:05] #29 closed, assigned to nobody

[2014-06-11 16:45] vooon opened #32 "Create bloom release."
Now I'am trying create bloom release repo for ROS build farm.

[2014-06-14 09:26] #23 closed, assigned to nobody

[2014-06-14 09:26] #26 closed, assigned to nobody

[2014-06-15 09:37] #22 closed, assigned to nobody

[2014-06-15 09:40] vooon opened #33 "Add topics for orientation control setpoint."

[2014-06-18 18:28] vmayoral opened #34 "mavros build issue"
The steps followed in a BeagleBone-based board are described [here](http://erlerobotics.gitbooks.io/erlerobot/en/mavros.html).

Basically:

[code]

It seems to me like i'm missing some dependencies. btw, package looking really good.

[2014-06-18 18:30] vooon opened #35 "Replace mavlink submodule with ros-*-mavlink package"
I made a package for release mavlink in ros and has included it in the package index.
Provides C-headers and pymavlink.

ROS package name: mavlink
Release repo: https://github.com/vooon/mavlink-gbp-release

Related to #32.

[2014-06-18 20:46] #35 closed, assigned to nobody

[2014-06-18 21:11] vooon opened #36 "Implement plugin blacklist"

[2014-06-20 12:01] mhkabir opened #37 "Add topics for PX4Flow / OPTICAL_FLOW messages"
Hey, could you add topcis for OPTICAL_FLOW mavlink messages, like those coming from a PX4Flow module?

Implementation by Pixhawk team:
http://wiki.ros.org/px4flow_node

[2014-06-22 14:16] #32 closed, assigned to nobody

[2014-06-26 18:25] #34 closed, assigned to nobody

[2014-06-28 00:09] vooon opened #38 "Memory leak on 0.5.0"
I tested mavros_node for a while and found a memory leak (about 300 KiB/min).
This is strange, because i use smart pointers everywhere. But I have little experience in C++.
For current tasks of leakage is not critical, but should be corrected to the next big release.

Test environment:
- ROS Indigo compiled from source for armhf
- Wandboard Quad host machine
- mavros 0.5.0 connected to APM 2.6 via

[2014-06-29 17:28] mhkabir opened #39 "Combine /imu/data and /imu/data_raw"
As far as I understand:
1. The "data" topic (from ATTITUDE_MSG) is publishing orientation and angular acceleration.
2. The "data_raw" topic(from HIGHRES_IMU_MSG) is publishing angular and linear acceleration but no orientation.

Can we get a single topic with all 3 sets of data in one message? To get this combined message at 100Hz, I would need to stream both HIGHRES_IMU and ATTITUDE at 100Hz righ

[2014-06-30 15:25] #36 closed, assigned to nobody

[2014-07-09 12:52] mhkabir opened #40 "Replacing Boost with Pthreads"
I believe that the use of boost asio in mavros is not necessarily a good choice. The boost dependency is just adding overhead and not of any real use. Porting over mavros to pthreads would work out way better. A worker thread for the receiving component would be much easier and portable.

Also, running mavros on older versions like Linaro 12.11 would be possible as there are problems with running

[2014-07-10 08:31] vooon opened #41 "Tlog plugin"
Plugin to write fcu message logs.

[2014-07-10 16:08] vooon opened #42 "gps_vel bug: should use radians in sin/cos"

[2014-07-10 22:08] vooon opened #43 "Replace mavlink_*_pack with _pack_chan, use sys/comp id"
Current mavconn do double crc calculation (finalize).

[2014-07-10 22:43] vooon opened #44 "Perhaps we should make mavconn.send_message synchronous?"
I think async write is not necessary, and adds only double copyings.
Also it constantly abuses OS with memory allocations (tx_q and tx_buf).

[2014-07-11 01:45] #44 closed, assigned to nobody

[2014-07-11 12:45] #43 closed, assigned to nobody

[2014-07-11 17:40] #42 closed, assigned to nobody

[2014-07-11 19:02] vooon opened #45 "Add launch scripts"

[2014-07-12 11:16] vooon opened #46 "Use boost::make_shared<> for object allocations"
Simple optimization.

[2014-07-12 13:26] #46 closed, assigned to nobody

[2014-07-12 14:06] ggregory8 opened #47 "Display target_system_id and target_component_id on mavros node start"
I think this could be handy to display the target_system_id and target_component_id values when you start the mavros node. You can then immediately identify if it matches the MAV actual values.

[2014-07-12 14:40] ggregory8 opened #48 "Connected to PX4 but cannot send commands, getting error: curr partner id mismatch"
@vooon @mhkabir
I am connected to PX4 via USB and can receive data, but when I try to send any commands I get the following error message about id mismatch.
FCU: REJ. WP CMD: curr partner id mismatch

Commands I have tried:
rosrun mavros mavwp show -p
rosservice call /mavros/cmd/command 400 0 1.0 0.0 0.0 0.0 0.0 0.0 0.0

I have set target_system_id and target_component_id in mavros to the same in

[2014-07-12 15:39] vooon opened #49 "Check frame conversions (NED->ENU ROS)"
Current implementation use this definitions [av8n.com](http://www.av8n.com/physics/coords.htm) of NED and ENU. Conversion is just invert Y & Z axis (all right-handed).

But according to [CoordinateFramConventions](http://wiki.ros.org/geometry/CoordinateFrameConventions) it is left-handed?

[2014-07-12 15:57] #47 closed, assigned to nobody

[2014-07-14 18:17] #39 closed, assigned to nobody

[2014-07-14 18:42] vooon opened #50 "Release 0.6.0"
I going to release 0.6.0.

Memory leak problem (#38) moved to 0.7 (because valgrind don't show useful info), but with some performance enhancements in mavconn lib (reduce allocations, removed 3-rd coping and CRC calc on TX).

PX4 waypoint and command plugins issue (#48) also moved to 0.7 (2-3 weeks before i get my clone).
You can simply remove it by  `rosparam /mavros/plugin_blacklist '["waypoint"

[2014-07-14 18:48] vooon opened #51 "Safty area plugin"
Send `SAFETY_SET_ALLOWED_AREA` to FCU. Noted in #33.

[2014-07-14 19:07] vooon opened #52 "Print when connection change to log"
Sometimes even easier view in log "connected" or "disconnected" rather than start rqt diagnostics.

[2014-07-14 19:18] #52 closed, assigned to nobody

[2014-07-14 22:07] #45 closed, assigned to nobody

[2014-07-16 14:34] ggregory8 opened #53 "local_position plugin RPY not correct"
@vooon
I've tested the vision_position and local_position plugins and they are working great thanks. Except the orientation(roll, pitch, yaw) of the transform that is published from local_position isn't changing as I move the FCU. I see the RPY change in the attitude message in QGC but the transform orientation doesn't change. I couldn't find this function:

https://github.com/vooon/mavros/blob/ma

[2014-07-17 11:23] #53 closed, assigned to nobody

[2014-07-17 17:09] #50 closed, assigned to vooon

[2014-07-20 10:43] vooon opened #54 "Try redo libmavconn using libev"
My experiments with libev shows that i can completely replace asio with lighter and much simpler code.

Related to #40.

[2014-07-20 12:36] ggregory8 opened #55 "Cannot find mavlink package when compiling mavros on Odroid-U3"
I had everything running on the Odroid a week ago. Then I update to the latest mavros, which I then needed to update the latest mavlink package. So I built mavlink from source as per the instructions. This lives in ~/packages/mavlink folder.

When I try to compile mavros with catkin_make it cannot find the mavlink package.
`CMake Error at mavros/CMakeLists.txt:23 (find_package):`
`Could not find m

[2014-07-20 15:09] #54 closed, assigned to nobody

[2014-07-20 15:11] vooon opened #57 "Implement mavconn TCP protocol."

[2014-07-20 15:19] vooon opened #58 "Create mavconn objects from URL's"
Implement object generator from URL's like this:

[code]

[2014-07-20 15:27] vooon opened #59 "Remove boost::asio from plugin code (UAS breaking)"
After removing asio from mavconn (#54) need to remove it from UAS and plugins.

[2014-07-20 15:44] #38 closed, assigned to nobody

[2014-07-22 06:06] #55 closed, assigned to nobody

[2014-07-22 06:19] ggregory8 opened #60 "Timeout quicker for vision_position plugin"
@vooon
I think we need to find a way to stop sending the vision estimate if the tf is not updated (when using tf_listener). For example there is about an 8s delay from when I stop the vision estimate (ar_track_alvar) and when the vision_position plugin stops sending the vision_estimate to PX4.

Any ideas on this? Is there a way to check if a transform is older than a time, say 1s? Or alternatively

[2014-07-23 12:14] #51 closed, assigned to nobody

[2014-07-23 14:34] TSC21 opened #61 "setpoint_velocity and setpoint_accel plugins"
I will take a look at Twist msgs. Maybe we can get control of velocities and accel then.

[2014-07-23 14:49] vooon opened #62 "3DRadio status plugin"
Add radio status plugin.

[2014-07-23 14:49] DasRegal opened #63 "Cannot find node mavros_node"
How can I run node?
I type:
rosrun mavros mav[Tab]
mavparam   mavsafety  mavwp

What am I doing wrong?

[2014-07-23 14:56] #63 closed, assigned to nobody

[2014-07-23 16:24] #61 closed, assigned to nobody

[2014-07-23 16:32] TSC21 opened #64 "ATTITUDE_SETPOINT_EXTERNAL msg plugin"
With this we can also control the Yaw of the quad, which is recommended to use in motion planners. Roll and Pitch also, but that depends on the type of controller it's being used (probably using a velocity control it's easier when having a velocity estimation).

I'm going to start a setpoint_attitude.cpp. I'll send you when I have it ready.

[2014-07-24 14:39] vooon opened #65 "Update documentation for setpoint and position plugins."
Subj. Need update wiki.ros.org.
When this issues closes:
- [x] [#64]
- [x] [#61]
- [x] [#33]

[2014-07-24 16:32] #64 closed, assigned to nobody

[2014-07-24 17:05] vooon opened #66 "Waypoint timeout pull restart doesn't work"
Latest APM:Plane (on APM2.6) (git 3.0.4-beta4) have buggy waypoint storage.
When i send many (>15) points, it stops at ~12 and don't respond to later pull requests. Only wp clear & reflash restore to normal operation. Seems QGC can break it too.

In this conditions i found bug: pull does one `request list` and then stops, while it must do another 3 try.

[2014-07-24 17:45] #40 closed, assigned to nobody

[2014-07-25 12:17] TSC21 opened #67 "vision_speed plugin"
In bound...

[2014-07-26 08:45] #62 closed, assigned to nobody

[2014-07-26 12:00] vooon opened #68 "PX4 connection test"
I've got my clone. It comes with APM:Copter 3.1.4, test connections: same as my APM2.6 (works).

Now i install current git master of PX4/Firmware.
- [x] param
- [x] waypoint
- [x] command
- [x] rc_io
- [x] gps
- [x] imu_pub
- [x] sys_status

Related #48.

[2014-07-28 17:07] #59 closed, assigned to nobody

[2014-07-28 17:15] vooon opened #69 "Param send timeout restart don't work"
On the same buggy APM version as in #66 i get new error with param plugin.
When debug updated for #59 param plugin, i've see that APM sends not full list.
That bug fixed by creating list of missing idx, and then checks it + timeouts.
That works great, but param set timeout don't works, no events was emit in TXPARAM state.

Note: 0.6 have resend and rerequest bugs too.

[2014-07-28 21:18] #57 closed, assigned to nobody

[2014-07-29 09:12] vooon opened #70 "Write unit-tests for mavconn"
Add communication tests for libmavconn.

[2014-07-29 13:55] #70 closed, assigned to nobody

[2014-07-30 13:33] #58 closed, assigned to nobody

[2014-07-30 13:42] vooon opened #71 "Replace TF with TF2"
Most of plugins use 'deprecated' tf package, while Hydro recommend tf2.

[2014-07-30 14:12] #65 closed, assigned to nobody

[2014-07-31 12:16] vooon opened #72 "mavconn transmission hangs on high packet count"
When i start debug image_pub (extras) plugin i build that chain:

[code]

Connection done, but no data transfers until mavros sends some data (e.g. mavsafety arm). After that it works some time and hangs again.

I also tried this with UDP (`udp://@localhost` & `udp://:14550@`) and serial (using socat PTY PTY), and it breaks with same symptoms.

My guesses:
1. Improper use of libev (strace shows EP

[2014-08-01 18:19] TSC21 opened #74 "catkin_make 0.7a - lock_guard"
Hi @vooon,

I'm trying to compile your last version of the code (since you return to asio) but I get the following:
/home/vision/vision_ros_ws/src/mavros/src/mavconn/mavconn_udp.cpp:36:7: error: expected nested-name-specifier before ‘lock_guard’
/home/vision/vision_ros_ws/src/mavros/src/mavconn/mavconn_udp.cpp:36:7: error: ‘lock_guard’ has not been declared
/home/vision/vision_ros_ws/src/mavros/sr

[2014-08-03 07:49] #74 closed, assigned to nobody

[2014-08-04 09:22] vooon opened #75 "Decode sensor status field"
Decode sensor status in diagnostics.

[2014-08-04 15:26] TSC21 opened #76 "Body-fixed orientation misalignment"
Refered in #49. It seems a Yaw overcompensation issue. In a normal rviz visualization (given by `local_position.cpp`), when rotating yaw left or right the arrows follow along but rapidly get back to the previous position, as if a fast rotation needs to compensated. Rotating it very slow though seems to get it right but still as a error relative to the actual orientation.
Maybe a mag calib issue? O

[2014-08-04 21:12] TSC21 opened #77 "How to connect both mavros and gcs to fcu at the same time?"
I have doubts regarding the connection of the gcs using tcp or udp after launching the mavros node.
I use: `rosrun mavros mavros_node _fcu_url:=/dev/ttyACM0:57600`
Got in the cmd log:

[code]

But I can't get any connection with the fcu. What am I doing wrong and what should be done?

Thanks!

Note: By the way how can I add a block of code to the comment? :D

[2014-08-05 11:27] vooon opened #78 "Add sending system time to FCU"
PX4Flow want system time from OBC, add it to sys_status.

[2014-08-05 12:32] #75 closed, assigned to nobody

[2014-08-05 12:44] #78 closed, assigned to nobody

[2014-08-05 13:04] #67 closed, assigned to nobody

[2014-08-05 15:32] vooon opened #79 "HRIMU atm pressure wrong scale"
From #68. Pressure about 1000x higher than should be.

[2014-08-05 16:56] #76 closed, assigned to nobody

[2014-08-05 18:53] vooon opened #80 "Replace boost mutexes with standard C++11"
This work is done in mavconn (#72), i think i must remove all boost threading and use standard library.

[2014-08-05 18:57] #72 closed, assigned to nobody

[2014-08-05 20:37] #80 closed, assigned to vooon

[2014-08-05 20:59] #79 closed, assigned to nobody

[2014-08-05 21:07] #77 closed, assigned to nobody

[2014-08-05 21:12] TSC21 opened #81 "Receive [INAV] status"
Seems like now we don't receive INAV status like `vision estimate valid` or `vision estimate timeout`.

[2014-08-05 21:39] vooon opened #82 "PX4 quirk for command plugin"
PX4 don't send ACK to commands (even if `confirmation` not zero).

Detected in #68, #48.

[2014-08-05 21:53] #60 closed, assigned to nobody

[2014-08-06 09:25] #82 closed, assigned to nobody

[2014-08-06 09:30] #81 closed, assigned to nobody

[2014-08-06 10:59] TSC21 opened #83 "Make reference to mavros_extras in Readme"

[2014-08-06 14:15] #83 closed, assigned to nobody

[2014-08-06 14:40] #30 closed, assigned to nobody

[2014-08-06 18:02] vooon opened #84 "Decode PX4 custom mode"
Current sys_status knows APM (Copter & Plane) modes only.

Related #68.

[2014-08-06 19:28] vooon opened #85 "Add ATTITUDE_QUATERNION support"
As i understand (from #49) conversion was this: NED (w x y z) -> ROS ENU (x -y -z w).

Related #68.

[2014-08-06 19:34] vooon opened #86 "Add VFR_HUD plugin"
Sometimes this combined message may be useful.

[2014-08-06 21:17] #85 closed, assigned to nobody

[2014-08-07 15:06] TSC21 opened #87 "global_position.cpp plugin"
Creating this plugin has a reason: `gps.cpp` gives us [GPS_RAW_INT](https://pixhawk.ethz.ch/mavlink/#GPS_RAW_INT) handle, which is the global position, as returned by the Global Positioning System, which means, a RAW sensor value.

For getting the filtered global position, we need to read the [GLOBAL_POSITION_INT](https://pixhawk.ethz.ch/mavlink/#GLOBAL_POSITION_INT), which is fused with IMU senso

[2014-08-07 15:43] TSC21 opened #88 "mavcmd - Takeoff and land in a local position"
@vooon I don't know if you agree with this but this could be an awesome thing to add considering the ROS framework capabilities we can use.

@mhkabir, @ggregory8: Guys this could be tricky so I must ask for your help and suggestions in this!

As you know, current `MAV_CMD_NAV_TAKEOFF` and `MAV_CMD_NAV_LAND` commands are built to support waypoints and not position vectors. So, considering that we d

[2014-08-07 17:38] TSC21 opened #89 "undefined symbol: _ZNSt6atomicI8MAV_TYPEE5storeES0_St12memory_order"
Since last update, I get this after launching the node:

`/home/vision/vision_ros_ws/devel/lib/mavros/mavros_node: symbol lookup error: /home/vision/vision_ros_ws/devel/lib//libmavros_plugins.so: undefined symbol: _ZNSt6atomicI8MAV_TYPEE5storeES0_St12memory_order`

What could this be?

[2014-08-07 19:38] #89 closed, assigned to nobody

[2014-08-07 20:01] TSC21 opened #90 "List of things to be updated in wiki"
# To add:
- [x] [Utility commands](http://wiki.ros.org/mavros#Utility_commands) - `mavcmd`
- [x] [Plugins](http://wiki.ros.org/mavros#Plugins) - `vision_speed`
- [x] [Plugins - Extras](http://wiki.ros.org/mavros#Plugins) - `mavros_extras` plugins
- [x] [Plugins - rc_io](http://wiki.ros.org/mavros#mavros.2BAC8-Plugins.rc_io) - `rc_io` override change

[2014-08-07 21:07] TSC21 opened #91 "mavcmd - Land in current GPS position"
A `mavcmd` named `land_curr` to issue a land in the current GPS position.

GPS filtered position retrieved from #87.

Can be issued like this:
`rosrun mavros mavcmd land_curr <yaw> <z>`

(Also referenced [here](https://github.com/vooon/mavros/commit/4bc59c6ef943f5434905e96308f4ba3f409a8587).)

[2014-08-07 21:12] TSC21 opened #92 "mavcmd - Takeoff from current GPS position"
It doesn't make sense to issue a takeoff from a place different from the current position (unless it's a fixed wing; in that case, I don't know how the control loop works on PX4 for fixed wing; just considering this to a mc).

GPS filtered position retrieved from #87.

Can be issued like this:
`rosrun mavros mavcmd takeoff_curr <des_pitch> <yaw> <z>`

(Also referenced in [here](https://github.com/

[2014-08-08 09:25] vooon opened #93 "Replace rc override service with topic"
@tonybaltovski requested in #22.

I think topic more suitable for override stream (and FCU does not send ACK), so i decide replace it.

[2014-08-08 09:33] #93 closed, assigned to nobody

[2014-08-08 12:38] TSC21 opened #94 "Update Mavlink msgs"
mavlink/c_library@23a8961. New msg definitions!

Some updates:

Mandatory:
- [x] `LOCAL_NED_POSITION_SETPOINT_EXTERNAL` to [SET_POSITION_TARGET_LOCAL_NED](https://pixhawk.ethz.ch/mavlink/#SET_POSITION_TARGET_LOCAL_NED)
- [x] `ATTITUDE_SETPOINT_EXTERNAL` to [SET_ATTITUDE_TARGET](https://pixhawk.ethz.ch/mavlink/#SET_ATTITUDE_TARGET)

Optional:
- [ ] [LOCAL_POSITION_NED](https://pixhawk.ethz.ch/mavli

[2014-08-08 13:05] vooon opened #95 "PX4 not send GPS time (required for time_reference)"
Need find reference time for time topic.
It needed for planned OBC, when it starts without 4G modem for time initialization via [ntpd_driver](https://github.com/vooon/ntpd_driver).

Related #68.

[2014-08-08 13:29] #37 closed, assigned to nobody

[2014-08-08 14:49] #84 closed, assigned to nobody

[2014-08-08 14:58] #68 closed, assigned to nobody

[2014-08-08 15:06] #49 closed, assigned to nobody

[2014-08-08 16:45] TSC21 opened #96 "AUTOPILOT_VERSION add to sys_status"
New message definitions has [AUTOPILOT_VERSION](https://pixhawk.ethz.ch/mavlink/#AUTOPILOT_VERSION), which can be useful to add to sys_status plugin.

Added by @vooon:
- [x] Wait while some one implement this message on FCU side
- [ ] Extend UAS for store capabilities check
- [ ] Use in plugins.

[2014-08-08 16:54] vooon opened #97 "Update setpoint messages."
Setpoint messages changes their names after merge mavlink subrev 4.
Related #94.

[2014-08-08 18:03] TSC21 opened #98 "COMMAND_INT optional implementation to command.cpp"
New msg definition: [COMMAND_INT](https://pixhawk.ethz.ch/mavlink/#COMMAND_INT) msg type. Has some differences relative to `COMMAND_LONG`: less general params, but more navigation params. Has scaled codification now.

[2014-08-11 10:08] vooon opened #99 "Release 0.7.0"
I want do a release at friday.
Lots of improvements, major planned changes like conn URL.
Also ros-*-mavlink sub-rev4 don't go to repo, before mavros builds with it.

Major todo:
- [x] #94 update mavlink
- [x] #97 fix setpoint message names
- [x] #90 update docs
- [x] #101 move mavros to this package "bundle"
- [x] tests

[2014-08-11 10:30] #48 closed, assigned to nobody

[2014-08-11 10:52] #97 closed, assigned to nobody

[2014-08-11 11:09] vooon opened #100 "Add support to new orientation messages with covariance."
Related to #94.

Mavlink sub-rev4 has new messages with included covariation information.
It was useful for `imu_pub`, maybe local/global position too.

Also with that i can check my covariance calculation, but need info how convert it to ENU.

[2014-08-11 18:13] vooon opened #101 "Move extras to this repo"
On answers.ros.org i get recommendation to put all mavros packages in one repo.
With catkin it's easy: move mavros to subdirectory and copy mavros_extras.

Then i must examine how to change rosdistro info.

[2014-08-11 19:28] #101 closed, assigned to nobody

[2014-08-11 19:42] TSC21 opened #102 "[mavros_extras] mocap_estimate.cpp plugin"
A plugin to connect to:
`vicon_bridge`: http://wiki.ros.org/vicon_bridge
or `vicon_mocap`: http://wiki.ros.org/vicon_mocap
Must have a tf_lookup to `vicon/<subject_name>/<segment_name>` or `~output` depending on the pkg being used.

Msg to send: `VICON_POSITION_ESTIMATE`
https://pixhawk.ethz.ch/mavlink/#VICON_POSITION_ESTIMATE

Note: Possible OptiTrack support can be added and message sent through

[2014-08-11 19:45] TSC21 opened #103 "[mavros_extras] Using image bridge when UDP link to GCS already active"
(suggested by @mhkabir)

If I have a proxy link from mavros to QGC using UDP (sending data from PX4), is it possible to send image data using the same link?

Also, please can you add launch files for image_bridge.

[2014-08-11 20:14] TSC21 opened #104 "[minor correction] package.xml with repeated dependencies"
In https://github.com/vooon/mavros/blob/master/mavros/package.xml.
Removing ambigual `build_depend`, it will stay like this:

[code]

Can you check?

[2014-08-11 20:15] #99 closed, assigned to nobody

[2014-08-12 18:08] TSC21 opened #105 "Adding plugins to PX4 blacklist"
I'm trying to add some plugins to PX4 blacklist so to limit the processing and usb bandwith being used. But adding them like it is in the `apm2_blacklist.yaml` is not working. In `px4_blacklist`, I have:

[code]

Still, `px4.launch` opens all plugins :s

[2014-08-12 19:53] #105 closed, assigned to nobody

[2014-08-13 18:06] TSC21 opened #106 "Update setpoint_attitude plugin"
Now the bit 7 allows to ignore the input thrust value. (https://pixhawk.ethz.ch/mavlink/#SET_ATTITUDE_TARGET), which is needed in case of attitude only control.

Bit mapping should be changed in https://github.com/vooon/mavros/blob/master/mavros/src/plugins/setpoint_attitude.cpp#L140 and https://github.com/vooon/mavros/blob/master/mavros/src/plugins/setpoint_attitude.cpp#L164.

A thrust callback c

[2014-08-14 07:17] vooon opened #108 "Remove 0.7.0 deprecated parameters"
In release 0.7 the old connection parameters are outdated, but the support is saved (ROS guide recommendation).

Now i can cleanup.

[2014-08-14 09:33] vooon opened #109 "Plugin API: remove global rx handler with handlers defined in plugin code"
I think i can change `get_supported_messages()` and `message_rx_cb()` with following construction:

[code]

Where typical get_rx_handlers():

[code]

This change remove common practice when `message_rx_cb()` contains one big switch with message processors.

[2014-08-14 09:37] #90 closed, assigned to nobody

[2014-08-14 09:50] #106 closed, assigned to nobody

[2014-08-14 12:05] #109 closed, assigned to nobody

[2014-08-14 12:20] #108 closed, assigned to nobody

[2014-08-15 11:48] TSC21 opened #120 "move all header files in plugins to include directory"
Since `gps_conversions.h`as already benn moved, this will include:
- `px4_custom_mode.h`
- `setpoint_mixin.h`

[2014-08-15 13:38] TSC21 opened #121 "mocap plugin won't load"
I launched the mavros_node for PX4 and I got the following:

[code]

[2014-08-15 13:59] #121 closed, assigned to nobody

[2014-08-15 17:59] #120 closed, assigned to nobody

[2014-08-15 19:09] TSC21 opened #122 "move mocap plugin to mavros_extras"
Since not any one will be able to use it, I think it can be pulled to extras instead. All agree?

[2014-08-15 21:07] TSC21 opened #123 "vision_position -> vision_pose_estimate"
I propose changing name `vision_position` to `vision_pose_estimate`, just to be according with `mocap_pose_estimate` plugin.
So it will be:
`mocap_pose_estimate`
`vision_pose_estimate`

Also propose move this plugin and `vision_speed` to `mavros_extras`, since also not anyone is going to use them as plugins.

[2014-08-16 16:15] #122 closed, assigned to nobody

[2014-08-16 16:15] #123 closed, assigned to nobody

[2014-08-17 11:39] TSC21 opened #126 "Define setpoints also as a service"
This offers two possibilities:
1. user control over the vehicle based on the setpoint commands issued
2. test the setpoints part of the firmware before moving to use a planner

I can advance by creating a new script called `mavsetp`. This one will be divided in 3: `local`, `global` and `attitude` (we still have the possibility of creating a setpoint global plugin). First two offer the services to

[2014-08-18 09:28] #91 closed, assigned to nobody

[2014-08-18 09:34] vooon opened #128 "FTP plugin"
I want to add FTP plugin when it support will stabilize.

Wait when:
- [x] It will use FILE_TRANSFER_PROTOCOL
- [ ] PX4 will support all file operations https://github.com/PX4/Firmware/pull/1363

Also i need reference client implementation, so wait QGC update.

Note: we start discussion in #41, but FTP is offtopic there.

Implement file operations:
- [x] list directory
- [x] open file (read)
- [x]

[2014-08-18 09:36] vooon opened #129 "FTP fuse driver"
Just an idea for #128.

[2014-08-18 10:01] #92 closed, assigned to nobody

[2014-08-18 10:45] vooon opened #130 "Mavros don't stop after SIGINT (^C)"
Termination are broken in 0.7: mavros_node ignore SIGINT, but stops after SIGTERM.
Also now it ignore `rosnode kill mavros`.

Also termination at port closed event also broken (mavconn related).
[code]

[2014-08-25 09:50] TSC21 opened #131 "Update SET_POSITION_TARGET_LOCAL_NED"
It now supports sending yaw and yaw rates through the msg. Then needs to receive also `angular.z` from TwistStamped msg for rate or a yaw heading (maybe from a conversion from a quaternion coming from a PoseStamped msg).

[2014-08-25 17:11] vooon opened #132 "Minor release 0.7.1"
We need minor release because updated mavlink package break build.

I do release after #131.

This release achieve some 0.8 changes like new message handlers.

[2014-08-25 17:58] #131 closed, assigned to nobody

[2014-08-25 18:17] #132 closed, assigned to nobody

[2014-08-25 18:42] TSC21 opened #133 "Joystick teleoperation"
In bound. Will need some help in the RC override part.

[2014-08-25 19:30] #98 closed, assigned to nobody

[2014-08-25 21:43] TSC21 opened #134 "How to set modes with the current mavros code?"
I'm trying to set modes using the command line. Searching in the current scripts I haven't found any which can be used to set modes, which can be only sent by `rosservice call /mavros/cmd/set_mode "mode:xxx"`. Can be a good thing to add to `mavcmd` some alias like

[code]

Anyway, the thing I want to know is how can I set modes beyond the ones of MAV_MODE ENUM available in https://github.com/vooon

[2014-08-26 10:21] vooon opened #135 "Move UAS and MavlinkDiag to library"
MavlinkDiag useful for gcs bridge nodes.
UAS lib will allow move stringifying from sys_status.

[2014-08-26 12:28] #135 closed, assigned to nobody

[2014-08-26 12:30] vooon opened #136 "Move mode decoder to UAS"
Move it from sys_status and add ability to encode string back to custom mode.

Related #134.

[2014-08-26 16:43] #136 closed, assigned to nobody

[2014-08-26 16:55] mhkabir opened #137 "Master not compiling"
Master is not compiling.

[code]

Also, Travis coverity for PX4 is failing.

[2014-08-26 17:27] TSC21 opened #138 "Log reading for terminal and for topic (with custom msg)"
Related to last comment in #41. The idea is use `roscpp` features to read a `.bin`/`.log` file and print the data into the terminal when calling the sevice. Also, add the possibility of writing into a topic as a custom msg (with the different log fields), which data can be read by `rqt_plot` for example.

The other way could be transform the `.log`/`.bin`/`.tlog` into a `.bag` file, that can be pl

[2014-08-26 17:52] #137 closed, assigned to nobody

[2014-08-27 10:03] vooon opened #139 "Move common cmake scripts to includes"
Two thinks used by all mavros packages:
- [x] C++11 enable
- [x] Mavlink dialect selection

[2014-08-28 10:27] #139 closed, assigned to nobody

[2014-08-29 13:55] #134 closed, assigned to nobody

[2014-08-30 16:51] #41 closed, assigned to nobody

[2014-08-30 18:27] #86 closed, assigned to nobody

[2014-09-01 12:14] vooon opened #144 "Reduce copy-paste in launch files."
Most launch files use copy-pasted node startup, while i can reduce it count by making one generic launch and several config.yaml and `<include>` tag.

[2014-09-03 18:12] saihv opened #146 "Errors while compiling mavros"
Encountering these errors while trying to execute catkin_make. Master branch, Pixhawk dialect, running ROS Indigo on 14.04. ros-indigo-mavlink is already installed.

[code]

[2014-09-03 19:12] #146 closed, assigned to nobody

[2014-09-06 08:11] #104 closed, assigned to nobody

[2014-09-08 08:19] vooon opened #148 "Conversion for covariances"
New mavlink messages have covariance information, but i don't know how convert frames for that.

Related #49, #94.

[2014-09-08 14:32] #144 closed, assigned to nobody

[2014-09-08 14:51] vooon opened #149 "Update wiki documentation for extras and new plugins (0.8.0)"
Update documentation before release.

Extras:
- [x] Moved vision_position to vision_pose_estimate
- [x] Moved vision_speed to vision_speed_estimate
- [x] mocap_pose_estimate

Main:
- [x] global_postion
- [x] New shortcuts in command
- [x] Mode change service in sys_status
- [x] List known custom modes for APM and PX4
- [x] vfr_hud plugin
- [x] ftp plugin

[2014-09-08 14:53] vooon opened #150 "Fix nodehandle in mocap plugin"
Current paths: `~mocap/mocap/...`.

Related #102.

[2014-09-09 15:03] TSC21 opened #151 "No plugins on mavros_extras are being launched"
I'm trying to launch `px4.launch`, which is in `mavros` dir. Previously it was possible to load all the plugins, but now no plugin of `mavros_extras` is loaded. The blacklist is empty, so every plugin are supposed to load, even those on extras.
This is related to 826be38 comment.

[2014-09-09 18:30] #150 closed, assigned to nobody

[2014-09-09 19:20] tonybaltovski opened #152 "Angular Velocity units."
I am getting rather large numbers from the imu/data_raw.

[code]

[2014-09-09 19:43] #152 closed, assigned to nobody

[2014-09-11 15:48] vooon opened #154 "Add io usage statistics to mavconn."
I think is might be useful to claculate and show actual data rate in diagnostics.

[2014-09-11 17:48] #151 closed, assigned to nobody

[2014-09-11 18:01] #87 closed, assigned to nobody

[2014-09-11 18:33] vooon opened #155 "Release 0.8.0"
I think we near release.

Issues todo:
- [x] FTP #128
- [x] @mhkabir https://github.com/PX4/Firmware/pull/1278 status? #156
- [x] Check param bug #69
- [x] Check waypoint bug #66

[2014-09-12 06:13] vooon opened #156 "Time syncronization plugin"
@mhkabir described main steps for time sync. But rather than doing that in sys_status i'll create new one: sys_time.

Also ROS API for gps will be changed, initially it copy nmea_navsat_driver package interface.
But in that release i don't spread usage on other plugins.

Related #155, #95.

[2014-09-17 10:51] vooon opened #157 "Move useful python code to module."
Modules:
- [x] param
- [x] waypoint
- [x] ftp
- [x] utils

Update scripts:
- [x] mavcmd
- [x] mavftp
- [x] mavparam
- [x] mavsafety
- [x] mavsetp
- [x] mavsys
- [x] mavwp

[2014-09-17 12:14] #157 closed, assigned to nobody

[2014-09-19 06:54] mantelt opened #158 "Waypoint sending does not work on PX4 (HW V1.7)"
Using serial communication, monitoring of UAV works fine. Also setting parameters works fine as well downloading of waypoints which were set using QGC.

Pushing new waypoints never changes the waypoints on PX4, neither when pushing just one or several. Clearing waypoints works, but without confirmation of success.

[2014-09-19 09:12] #158 closed, assigned to nobody

[2014-09-22 14:26] #128 closed, assigned to nobody

[2014-09-22 14:42] #155 closed, assigned to nobody

[2014-09-22 16:13] #149 closed, assigned to nobody

[2014-10-31 19:13] tulku opened #160 "Cannot arm pixhawk running arducopter 3.1.5"
I'm using mavros to control a pixhawk based quadcopter. The pixhawk is running arducopter 3.1.5.

When I send the arm command I get an error stating that the command is not implemented:

[code]

However, using APMPlanner or MAVProxy, I can arm the drone via mavlink, also sending the command 400.

mavros arming command does work with ardocopter 3.2, but we cannot switch to that firmware yet. I coul

[2014-11-02 13:28] vooon opened #161 "Split out mavconn libaray to use in non ros projects."
MAVConn library may be useful in standalone projects where needed mavlink.

[2014-11-02 17:47] #161 closed, assigned to nobody

[2014-11-02 19:56] vooon opened #162 "Split hydro development branch."
Hydro now can't be in same master branch because many small changes between indigo and hydro make me hard to support both.

I decided to slowly stopping development for hydro and focus on newer platforms.
Although current mavros (0.8) is quite developed, so it can be saved in that state.

[2014-11-04 15:44] #160 closed, assigned to nobody

[2014-11-04 18:06] #162 closed, assigned to nobody

[2014-11-06 01:53] Antgroup opened #163 "How to use setpoint topics"
I have updated my APM2 firmware to ArduCopter 3.2 and now I am able to arm my Copter with "mavsafety arm". But still I don't know how to use the several setpoint topics.
For example, I type in:
/# rostopic pub /mavros/setpoint/local_position geometry_ms/PoseStamped
"header:
  seq: 0
  stamp:
    secs: 0
    nsecs: 0
  frame_id: 'fcu'
pose:
  position:
    x: 0.0
    y: 0.0
    z: 100.0
  orientati

[2014-11-10 07:25] vooon opened #164 "Release mavlink 2014.11.11"
New release require some patch works:
- [x] Glob dialect files
- [x] Move file patch to master?

[2014-11-11 12:26] #164 closed, assigned to nobody

[2014-11-15 06:20] RaghavendraSriram opened #165 "Unable to run mavros commands"
I need some help in getting mavros working on my quadcopter. I am able to connect to it and get the imu data, however when i try and publish any topics or execute -  rosrun mavros mavcmd takeoff 20 15 0 0 50 - nothing happens. I get a message that says command no 252 result 3. I have not been able to get it to even start once. I would appreciate any help please. I am really in a tight spot and am

[2014-11-19 14:31] dottantgal opened #166 "New custom mavlink message: how could i subscribe to this new message??"
Hi all,
I'm using the mavros stack to read and send data to an UAV with a pixhawk at the low level and an INTEL NUC with ros hydro at the high level.
I've already implemented two new mavlink messages in the common file that will work with a new app installed on the pixhawk firmware.
Is there a way to implement a ros topic that will be subscribed by mavros that will understand the data included and

[2014-11-19 19:50] bholden1 opened #167 "Unable to control motors with joystick input"
Hi!  I am using MAVROS to try and control my pixhawk with a joystick.  I have been running:

<code>roslaunch mavros_extras teleop.launch</code>

This will set up communication with qgroundcontrol and the pixhawk.  When I run this I can arm and disarm the motors with my joystick, but nothing I do changes the motor speed.  I can use a RC controller to change the motor speeds, but the motors never re

[2014-11-24 20:25] #167 closed, assigned to nobody

[2014-12-02 23:01] vmayoral opened #168 "ROS MAV msgs format"
@vooon just wanted to ping you about https://docs.google.com/document/d/1pyEz3p3AQ-6icFiyxe6u6vLAdqU33FQuduWSFT3VHHA/edit#heading=h.6tgmrbkss21h.

[2014-12-09 15:26] weiweikong opened #169 "How to get local position and orientation through IMU by MAVROS"
Hi there,
     I am currently working on project where we are implementing a Pixhawk Autopilot and ROS for SLAM with Hokuyo UTM-30LX laser and monocular/stereo camera. Now we did not use external IMU. So the setup of our system are

- Ubutnu 14.04 64bit
- ROS indigo
- Pixhawk Autopilot

I have already use MAVROS receive the data from IMU. After running ```rosrun mavros mavros_node```, there are ``

[2014-12-12 16:19] vooon opened #170 "param plugin: cannot bind packed field (mavlink_param_union_t)"
After releasing mavlink 2014.12.12 Jenkins reported build error on trusty:
[build 43](http://jenkins.ros.org/job/ros-indigo-mavros_binarydeb_trusty_amd64/43/console).
And according to [GCC bug 36566](https://gcc.gnu.org/bugzilla/show_bug.cgi?id=36566) that's bug in my code.

[2014-12-14 15:19] #170 closed, assigned to nobody

[2014-12-18 18:49] MarcGyongyosi opened #177 "IMU output Y-axis inverted?"
Hi,

so I've been spending a lot of time trying to figure out the transform from my camera to the IMU for the EKF and as I was checking the frames over and over, I found something which puzzles me: When I look at imu output when the pixhawk's horizontal, lin acc z is +9.81 as expected. When I tilt my pixhawk such that +x (the front) points to the ceiling I get +9.81 on lin acc x (as expected). How

[2014-12-18 19:53] fabiorubino opened #178 "Increase reading data rate"
Hi!
I need to increase the rate of the reading data. I tried to use this command "rosservice call /mavros/set_stream_rate 0 100 1" but no change. I used a Pixhawk connected through USB cable. The pixhawk firmware was uploaded through QGroundControl. I didn't connect the device to QGC during the reading.
What can I do?

[2014-12-19 04:28] pmukherj opened #179 "Extending mavros support to IRIS+"
Hey @vooon and @mhkabir !
I'm just getting back into autopilots and find the mavros stack to be MOST complete. Great job, esp with the use of the plugin architecture!

I have an IRIS+ (Pixhawk with the native APM firmware onboard). I know that for it to work with mavros I have two options:
a) Switch the IRIS+ to use the PX4 stack. How hard would this be? Are there any guides for this? Would all th

[2014-12-20 17:22] #179 closed, assigned to nobody

[2014-12-21 20:36] #177 closed, assigned to nobody

[2014-12-23 03:30] pmukherj opened #180 "setpoint control (thrust, attitude, position etc.) through mavros<->px4 on a pixhawk"
Hey everybody!

I was able to use rosservices to arm the quadrotor and turn on the motors but it seems to be ignoring my commands being sent over setpoint/att_throttle. ROS log is here: https://www.dropbox.com/s/fm0nbhwg31yo5zd/thrust_control_log.csv?dl=0

I've been scavenging through the px4-users and px4 wiki to get a snapshot of the easiest way to send control commands into a pixhawk. I realize

[2014-12-23 18:09] vooon opened #182 "Minor release 0.9.3"
ROS Jenkins can't build released mavros with current mavlink headers.

Simple resolution - make minor release.

This release will incorporate #156, #95, #181 (and maybe #176?).

[2014-12-24 03:26] #180 closed, assigned to nobody

[2014-12-24 06:45] #95 closed, assigned to nobody

[2014-12-30 19:04] #182 closed, assigned to nobody

[2014-12-31 02:44] #103 closed, assigned to nobody

[2015-01-01 01:49] mhkabir commented on #166
I think this is done. Closing. Feel free to reopen if required.

[2015-01-01 01:49] #166 closed

[2015-01-04 02:24] pmukherj commented on #133
Sorry! Moving offices over new years.
I'm testing with all sorts of computers (odroids, TK1's etc.).  I'll take a crack at using a UDP bridge.
I'm guessing I can use any of the telemetry connections into the pixhawk? In addition to the companion computer, I also have a wireless connection into one of the telemetry ports (as is standard with 3DR pixhawk).

[2015-01-04 05:45] pmukherj commented on #133
Yup. Verified that the setpoints are actually working! The internal setpoints are accepting it, and the controller outputs are also visible. Now for flight tests :). Wish me luck.

[2015-01-04 07:47] mhkabir commented on #133
@pmukherj You can connect the companion to your TELEM2 port and start it via extras.txt in your microSD card.
Good that the setpoints are working. Best of luck with the flights.
Please check : http://www.pixhawk.org/dev/ros/mavros_offboard
At the bottom there is blank code line, where you should add the mavros command you used to change to offboard mode ( as an option for people if they want to )

[2015-01-04 23:49] vooon commented on #156
PX4 support merged.

[2015-01-04 23:49] #156 closed

[2015-01-05 22:15] tonybaltovski commented on #178
Can this be done to increase the value of the raw IMU?

[2015-01-07 07:38] thedinuka opened #185 "PixHawk timestamp instead of ROS time"
I was looking at imu_pub.cpp and realized that imu/data_raw  topic is published with the header timestamp set to ROS::Time::now()
(https://github.com/mavlink/mavros/blob/master/mavros/src/plugins/imu_pub.cpp#L250)

The MAVLINK_MSG_ID_HIGHRES_IMU message from PixHawk does contain a time_usec filed which actually represent the time at which the imu data was captured. For certain applications like fo

[2015-01-07 07:45] mhkabir commented on #185
Hi,
We have timesync working. I will be updating the plugins soon to take advantage of this. We synchronise Pixhawk timestamps to ROS time and vice-versa.
What you propose would not be ideal, as ROS wall time is calculated from Unix Epoch and Pixhawk time is calculated from boot.

[2015-01-07 07:52] thedinuka commented on #185
@mhkabir timesync would be ideal, I agree. What sort of accuracies can you achieve with it?

[2015-01-07 07:53] mhkabir commented on #185
We get microsecond precision.

[2015-01-07 07:54] thedinuka commented on #185
ahh, excellent. would you be able to comment on when this will be available?

[2015-01-07 07:55] mhkabir commented on #185
Pretty soon hopefully. Synchronisation works already (check system_time.cpp ) The plugins just need to be updated.

[2015-01-07 08:10] thedinuka commented on #185
@mhkabir I'm still reading through system_time.cpp (actually  it's sys_time.cpp right?) but as a preliminary question, is the idea to maintain the difference between ros time and PixHawk time and then use that offset in other plugins to set the correct timestamp?

[2015-01-07 08:16] mhkabir commented on #185
Yes

On Wed, Jan 7, 2015 at 1:40 PM, Dinuka <notifications@github.com> wrote:

[2015-01-09 07:22] pmukherj commented on #22
Quick question for @vooon on this! Do you know if there is a way to override just a few channels, while leaving the other channels under RC or autonomous control?
I have a gimbal I'd like to control from mavros (connected to the pixhawk PWM out), but don't really want to override the other RC outputs.
If the current plugin doesn't support single channel override, I'm thinking mavlink does and this

[2015-01-09 07:32] tonybaltovski commented on #22
@pmukherj If you publish 0 for the channel. it will give control back to the RC. Similarly, -1 for a channel means no change should be made to that channel. In order to send the -1, you need to send the maximum of the int16_t which is 65535 (2^2-1).

[2015-01-09 07:34] pmukherj commented on #22
Amazing! That's perfect.

[2015-01-09 07:40] tonybaltovski commented on #22
Are you using the RC override with the pixhawk?

[2015-01-09 07:40] mhkabir commented on #22
This won't work. We don't handle RC override in PX4 stack.

[2015-01-09 07:49] pmukherj commented on #22
Yea, I noticed that conversation in the joystick plugin ticket. Boo!
For now, I may just hack my companion computer(Tk1 + odroid) to output the PWM into the gimbal. I have to stick with the px4 stack for testing the setpoint control.
Eventually though centralized method to control it all through the pixhawk will be awesome.

[2015-01-09 07:53] mhkabir commented on #22
We can do it via the FMU auxiliary pins. I'm already working on getting the pins started up by default, as they are currently totally "dead"
Simple to add a handler and passthrough.

[2015-01-09 07:56] LorenzMeier commented on #22
They are already enabled. Check the rcS / firefly script for the logic how to load a mixer in there.

[2015-01-09 08:04] pmukherj commented on #22
My bad, I have the 3DR IRIS, so the gimbal connection is by default through the Aux out port (1 and 6 = roll and pitch of the gimbal).  I was going to move them to the RC out so I can control it through mavros, but this would potentially work much cleaner.

[2015-01-09 10:15] vooon commented on #22
@pmukherj Look constant CHAN_RELEASE in http://docs.ros.org/indigo/api/mavros/html/msg/OverrideRCIn.html

But as mentioned by @mhkabir this message not supported by PX4.

@LorenzMeier it is possible to add messages for gimbal controller? Maybe it exist BGC with mavlink support?
I bought EvvGC and motors, but don't have working camera (camwrt stuck on video subsystem startup) and mounts for that. A

[2015-01-16 06:33] vooon commented on #185
I testing PR #186.

Setup:
- Wandboard Quad with Ubuntu 14.04 and latest ROS for UbuntuARM
- Pixhawk with latest master

Results:
First run without custom `-m onboard` mode.
Got timsync, but strange timestamps:

*/mavros/imu/data*
[code]

*/diagnostics*
[code]

[2015-01-16 06:49] vooon commented on #185
I placed this to */fs/microsd/etc/extras.txt*:
[code]

And checked that mavlink starts from fcu bootup (px4 quirk not needed, but enabled).
But get similar resuilt: 4294967295 constant in timestamp

Also strange operation errors:
[code]

[2015-01-16 08:02] vooon commented on #185
Bug in `syncronise_stamp()`. I will fix it.

[2015-01-16 09:47] vooon commented on #185
@mhkabir pull request closed, your patch rebased in master.

Time is close to ros wall time in range ±5 ms by my quick test.

[2015-01-16 09:56] mhkabir commented on #185
Awesome.
On 16 Jan 2015 15:17, "Vladimir Ermakov" <notifications@github.com> wrote:

[2015-01-19 08:43] ziyangli commented on #49
@vooon
I have the same question ---- Why magnetometer use different conversion?

[2015-01-19 12:36] tonybaltovski commented on #49
The mag is absolute and the others are relative.

[2015-01-19 18:32] fabiorubino opened #188 "Pixhawk, QGroundControl, Mavros"
Hi all,
I am trying to reading the IMU data from the Pixhawk through Mavros. The problem is that at every restart of Pixhawk I have to connect it to QGroundControl, disconnect it, and then I can run the mavros node and read the data. If I don't connect the autopilot to QGC the mavros node only run the plugins. Why?
How can I solve this problem?

bests
Fabio Rubino

[2015-01-19 19:21] LorenzMeier commented on #188
Because the USB link is not intended to be used with a companion computer and defaults to the NSH shell. Please use a FTDI cable on TELEM2 instead and start a MAVLink instance on that port. Please refer to the px4 users mailing list for further assistance on how to do this.

[2015-01-19 19:21] #188 closed

[2015-01-19 19:55] fabiorubino commented on #188
Thanks Lorenz for your fast support.
But can I read the data with Mavros using the ftdi cable? If yes how? Can I reach the 120hz of rate?

Bests
Fabio

[2015-01-20 18:55] fabiorubino opened #189 "Mavros readme and mavlink-gbp-release"
Hi all,
I need to install the mavros package by source in a catkin workspace in a PC with INDIGO and UBUNTU 14.04 . I read in the README.md that the mavros package is dependent on ros-*-mavlink that is build from mavlink-gbp-release. I tried to install by source, because I have to do in this way, the mavlink package and the mavros package. After I tried to compile with catkin_make the workspace. C

[2015-01-21 06:02] vooon commented on #189
Do step-by-step script listed in installation instruction. Mavlink package require their own workspace and isolated build (like ros source installation).

[2015-01-23 16:28] fabiorubino opened #190 "Pixhawk driver"
Hi all,
I need to create an interface for the Pixhawk. It has to be connected to a flight control stack different from the PX4 one. What I need is to send the roll, pitch, thrust and the derivative of yaw commands and from it I need to read the rotation angles, battery status, all data. I need a driver package. The stack is based on UBUNTU 14.04 and on ROS INDIGO.

Can you help me?

Bests
Fabio Ru

[2015-01-23 20:28] vooon commented on #190
Mavros can communicate with any FCU with common.xml message set (dialect).
But you must declare what messages are used for RPY-T.

[2015-01-23 21:06] dpnebert opened #191 "Can't locate mavrod_node"
I am able to install and use ROS (http://wiki.ros.org/indigo/Installation/Ubuntu)

Then I install MAVROS (https://github.com/mavlink/mavros) using the console command, 'sudo git clone https://github.com/mavlink/mavros.git'

I add the directory I installed mavros to the environment variable ROS_PACKAGE_PATH.

I am able to build the package using, 'rosmake mavros' which echos:

=====================

[2015-01-24 06:47] vooon commented on #191
Did you read this: [README Installation](https://github.com/mavlink/mavros/blob/master/mavros/README.md#installation)?
Mavros is catkin project, not rosbuild.

[2015-01-24 07:57] vooon commented on #189
Any update?

[2015-01-24 07:58] vooon commented on #185
I think we may close this.

[2015-01-24 07:59] #165 closed

[2015-01-24 07:59] #163 closed

[2015-01-24 08:00] #126 closed

[2015-01-24 08:01] fabiorubino commented on #189
Hi vooon,
yes, installing step-by-step it works.Thank you very much.

Bests
Fabio

[2015-01-24 10:12] #154 closed

[2015-01-24 10:13] vooon opened #192 "Release 0.10.0"
All issues done. Ready to release.

[2015-01-24 10:22] #189 closed

[2015-01-24 10:28] vooon commented on #192
PR published: https://github.com/ros/rosdistro/pull/6961

[2015-01-24 10:58] #192 closed

[2015-01-24 10:59] #185 closed

[2015-01-24 11:39] mhkabir opened #193 "Convert body-fixed IMU data to Inertial frame for Pose messages"

[2015-01-24 11:40] mhkabir opened #194 "Generalize frame conversion routines as part of libmavros"

[2015-01-24 19:10] vooon commented on #130
Please check now.
After https://github.com/mavlink/mavros/commit/298b66869ca21f9983041d116665730eab718b2a it closes on `tcp://`.

[2015-01-26 12:35] fabiorubino commented on #190
@vooon
Do yo know what Mavros file or files I have to manage for sending roll, pitch, derivative of yaw and thrust commands to the Pixhawk directly from my stack? And for sending back the IMU sensor data directly to my stack bypassing the Mavros controller?
Thank you for your help.

bests
Fabio

[2015-01-26 19:17] dpnebert commented on #191
I did not read that far, I guess.  I see that now with the link you gave.  Thanks for the help, still new to all of this.

[2015-01-27 19:58] fabiorubino opened #196 "Pixhawk, PX4FLOW , Odroid, mavros, autonomous flight"
Hi all,
I want to fly autonomously with Pixhawk, PX4FLOW, and Odroid. I can read data from Pixhawk and PX4FLOW separately (with two different launchers) inside Odroid  in the same time  through mavros. How can I send commands to Pixhawk for flying through mavros?

Bests
Fabio

[2015-01-27 20:04] vooon commented on #196
Please better ask at px4users google group, and not spam to project bug tracker.

[2015-01-27 20:04] #196 closed

[2015-01-27 20:06] vooon commented on #190
@fabiorubino it depends on what mavlink message you want to send.

[2015-01-27 20:17] fabiorubino commented on #190
Thank you for your help but now I want to fly autonomously using only the mavros stack. I have a quadrotor with Odroid that is connected to Pixhawk and PX4FLOW. In the Odroid I can read through mavros the imu data from Pixhawk and the optical_flow from PX4FLOW in the same time using two different launchers. How can I send commands to Pixhawk for flying?

bests
Fabio

[2015-01-27 20:29] vooon commented on #190
1. Please describe connections of Odroid, PX4 and PX4Flow. What module connects with other, and what channel it uses
2. What exactly commands exactly you want to send?

[2015-01-27 22:24] fabiorubino commented on #190
Well, I connect to Odroid through one USB port the Pixhawk and through another USB port the PX4FLOW. Both of them use the usb port for communicating. To read the data I use for the PIxhawk the command "roslaunch mavros px4.launch" and for the PX4FLOW the command "roslaunch mavros_extra px4flow.launch".
The Odroid is powered by means the cable, the pixhawk is powered by means the POWER port, the PX

[2015-01-28 03:02] mhkabir commented on #190
@fabiorubino Please post about this on the px4users mailing list. If you had actually gone through the wiki as I keep telling you repeatedly, you would've seen that there is so need for all the shenanigans. All information is on the wiki :
1. https://pixhawk.org/modules/px4flow
2. https://pixhawk.org/dev/offboard_control
You don't need to connect the flow via USB. Just connect it via the i2c bus o

[2015-01-28 03:08] mhkabir commented on #178
Closing this.
The summary : You can increase reading rate by modifying your mavlink stream command (in rc.usb, rcS or extras.txt ) like this, to stream attitude on USB port at 200Hz
[code]
You should ideally connect to mavros like this : https://pixhawk.org/dev/companion_link
It will automatically start-up typical onboard streams.

[2015-01-28 03:08] #178 closed

[2015-01-28 03:10] mhkabir commented on #169
@weiweikong Any updates on this?

[2015-01-28 03:11] mhkabir commented on #138
@vooon Do we still need this?

[2015-01-28 08:27] vooon commented on #138
I think no, on PX4 we could use FTP, and APM has it's own log download not in mavlink (MissionPlanner).

[2015-01-28 08:27] #138 closed

[2015-01-28 10:45] fabiorubino commented on #190
Thank you for your support. I have already put the same question on the px4users mailing list. In any case I tried to connect the PX4FLOW through i2c, but in mavros I can't read data from mavros/optical_flow  topic. The topic is subscribed, but I can't see anything. In future if I will have other problems I will write on gitter as you want.
Thanks for all

bests
Fabio

[2015-01-28 11:52] mhkabir commented on #190
/mavros/optical_flow is deprecated. It doesn't work with the new interface on i2c. I can fix that and put in a message type for the new interface on Saturday though.
Is there any particular reason you need to view the flow data? Position estimation will work fine even without mavros.

[2015-01-28 12:12] fabiorubino commented on #190
So using the I2C interface don't I need to subscribe to mavros/optical_flow to sends data to the Pixhawk controller? Can I fly autonomously only sending command through mavros to the Pixhawk controller?
If I want to collect the PX4FLOW data how can I do?

[2015-01-28 12:45] vooon commented on #190
As i remember px4 resends flow data via telemetry link, so just remove px4flow plugin from black list.
Via I2C you only have flow data, no image, but actually i think it is not needed.

[2015-01-28 14:13] mhkabir commented on #190
Actually Vladimir, no. It does not. Also the new OPTICAL_FLOW_RAD message
is not support in mavros yet?

I think I forgot to do a PR. I'll do it later.

Fabio, you don't need to do anything of that sort to fly with the PX4Flow.
Just connect i2c and send commands from mavros.

Why do you need to collect flow data? You can get current computed local
position in mavros/position/local if you need that

[2015-01-28 16:11] fabiorubino commented on #190
Thank you all. I will do as you described.

Bests
Fabio

[2015-01-28 22:08] #191 closed

[2015-01-28 22:32] dpnebert opened #197 "From ARMED to TAKEOFF without GPS"
Hello again,

I want to make question as simple as I can, and I apologize for being a noob in advance.

My goal is to use my drone indoors without GPS using Optitrack.  I currently do not have any information from Optitrack coming in (yet), I will need to connect these two pieces together once I know what format I need to present MAVROS data in.

I run roscore, then I launch a node with, 'roslaunc

[2015-01-28 22:48] vooon commented on #197
I think that `rosparam set use_sim_time true` should not be used.
Also instead on calling `rosservice` use `mavsys rate`.

As i understand you use APM (at least same custom modes as ArduCopter), and i don't know actual status of `VICON_POSITION_ESTIMATE` message support.
Perhaps only PX4 native stack support this?

FYI: You can do `mavsys mode -c GUIDED`, if FCU known by mavros. Check `/mavros/sta

[2015-01-28 23:10] dpnebert commented on #197
I am stepping out for the day, but I will be back tomorrow.

I will avoid setting use_sim_time.
I will try mavsys rate.
I am attemping to use PX4, not APM.  I understand PX4 has more functionality.  Sound right?

I did check the /mavros/state topic, and it did report the mode as GUIDED.

[2015-01-29 00:59] mhkabir commented on #197
1. What you need is offboard mode. https://pixhawk.org/dev/offboard_control
2. Push the pose estimate from Optitrack to the /mavros/position/vision topic for now. The mocap plugin isn't fully supported on PX4 side yet. The visual position estimate plugin is in mavros_extras. You should use that for now
3. You cannot take off or hover without a positioning source.
4. OPTITRACK should publish some f

[2015-01-29 07:34] tonybaltovski commented on #197
I will give the mocap plugin a test later this week or early next week.  Like @mhkabir said, once you have Optitrack running, you get a TF and/or PoseStamped.  Remap the topic or set the topic name in your config to the `/mavros/position/vision`.  I assume you should be able to just send set point values once in OFFBOARD mode to your desired pose which is a position and orientation (only yaw).  I

[2015-01-29 08:24] mhkabir commented on #197
The mocap plugin doesn't work as inav in PX4 doesn't handle VICON_POSITION_ESTIMATE.

But, the vision position plugin does.

[2015-01-29 15:24] dpnebert commented on #197
@mhkabir
1. That link was perfect!  I don't know how I didn't find that in my search previously.  Thank you!  I have found a bunch of missing pages/information when I was on pixhawk.org website.  When I went to the link you gave, and clicked the link at the bottom of that page, 'Offboard Control with Mavros', it brings me to a page with lots of good information.  Although, it seems to be missing a

[2015-01-29 15:46] mhkabir commented on #197
1. I'll add the mavsys command to the wiki.
2. No need to start another node. vision_position is just another plugin.

Glad that we could help. You can also use the mavros gitter here : https://gitter.im/PX4/Firmware if you would like to ask further questions.

[2015-01-29 15:46] #197 closed

[2015-01-29 15:48] mhkabir commented on #190
Closing this. Please ask on the mailing list or Gitter IM if you have further questions. Thanks :)
https://gitter.im/mavlink/mavros
https://gitter.im/PX4/Firmware

[2015-01-29 15:48] #190 closed

[2015-01-29 15:49] #169 closed

[2015-01-29 15:50] mhkabir commented on #169
Please use the PX4users mailing list or Gitter if you have further questions : https://gitter.im/mavlink/mavros
https://gitter.im/PX4/Firmware

[2015-01-29 15:50] mhkabir commented on #129
@vooon Any updates on this or plans?

[2015-01-29 15:51] mhkabir commented on #96
@vooon APM has support for this now. I will add PX4 support if required.

[2015-01-29 15:51] mhkabir commented on #33
@vooon This works fine, as tested by users.

[2015-01-29 15:53] mhkabir opened #198 "Update PX4Flow plugin to use new message"
Need to update it in order to use the new OPTICAL_FLOW_RAD message.

[2015-01-29 15:55] mhkabir commented on #133
@vooon The joystick plugin works fine, but crashes too badly if one of the axes aren't found or out of range, etc.

[2015-01-29 15:56] mhkabir commented on #88
@vooon @andre-nguyen @LorenzMeier

I think this feature would be something we'd implement on the PX4 side as a command or similar, which would only be accepted in Offboard mode. Not something we'd prefer to do in mavros, I think.

Suggestions are welcome.

[2015-01-29 15:58] mhkabir commented on #102
Plugin works fine, can see data in PX4 side. No support for it in INAV though.

For users, please use vision_position plugin for now. It will give you the same functionality.

[2015-01-29 16:14] andre-nguyen commented on #88
I think the px4 has a takeoff command when it comes to waypoints right? What's the behaviour in that context?

[2015-01-29 16:35] mhkabir commented on #88
That works only for global missions I think. It is a mission command.

[2015-01-29 16:36] mhkabir commented on #88
Oh wait, I missed this before : https://github.com/PX4/Firmware/issues/1281

[2015-01-29 16:39] mhkabir commented on #88
What we need, I think, is support to be able to TAKEOFF and LAND commands in offboard mode, separate from mission logic.
Offboard will extend to support global setpoint control later, I think (If not already implemented, @thomasgubler ?) and having the takeoff and land commands will be handy for a high-level planner running on a companion.

[2015-01-29 17:02] vooon commented on #133
We can add min/max limitting.

Note that wan not a plugin, node.

[2015-01-29 17:06] vooon commented on #129
No plans for now.
I think that it may be done for fun, but really not needed because low transaction speed.

[2015-01-29 17:13] vooon commented on #96
Can't find how they do it in the code.
But seen PR for `AUTOPILOT_VERSION_REQUEST`, and as i remember @LorenzMeier wanted to send `AUTOPILOT_VERSION` periodically.

[2015-01-29 17:15] vooon commented on #33
@mhkabir Yeah, but @TSC21 some time ago wanted to keep issue opened for discussion.
Maybe now we can close?

[2015-01-29 17:21] TSC21 commented on #33
Can close now. Doing some restruct on my linux machine now. Will be back at the project soon ;)

[2015-01-29 17:24] #33 closed

[2015-01-29 17:25] mhkabir commented on #133
True ;)
I think I'll do it as a plugin, as the script/python seems rather confusing + unreliable.

[2015-01-29 17:26] mhkabir commented on #129
Closing now then. Reopen later if required.

[2015-01-29 18:10] vooon commented on #133
I don't want plugin because it's reinventing the wheel. Maximum rewrite from python to C++.
But really not needed when mavteleop runs on desctop and controls OBC's mavros.

[2015-01-29 21:59] TSC21 opened #199 "gcs_image_bridge.cpp compiling error"
Guys,

How's things going? I'm coming back to work at the project finally :D Doing some clean up on my laptop. Installed 14.04 with Indigo.
But in my workspace, when doing `catkin_make`, I get this on `gcs_image_bridge.cpp` compilation:
[code]

Maybe opencv related? I installed the version which comes with the indigo repo.
Any advice?

Hope to continue getting some improvements on the project :)

[2015-01-29 22:01] TSC21 commented on #199
BTW,
`pkg-config --libs opencv` on terminal gives me:
[code]

[2015-01-29 22:55] TSC21 commented on #199
Update:
Uninstalled the opencv version of Indigo, and installed opencv from source: http://docs.opencv.org/doc/tutorials/introduction/linux_install/linux_install.html
Same result! What can be wrong then?

[2015-01-29 23:15] vooon commented on #199
Remove your build and devel dirs.

[2015-01-30 00:23] TSC21 commented on #199
Already did it. same stuff

[2015-01-30 08:16] vooon commented on #199
Why do you use ros version? As i know it wants system library.

My libs:
[code]

Where 2.4.8 links is a fix for building mavros on 14.10 + Indigo.

[2015-01-30 08:25] vooon opened #200 "Add APMrover support"
Eliminate apmrover todo's!

[2015-01-30 09:21] #200 closed

[2015-01-30 09:50] vooon opened #201 "Release 0.10.1"
I think that frame transformed imu should be in minor bump, so 0.10.1 is a bugfix only.
But I would like to see #198 in this release. @mhkabir could you do it?

[2015-01-30 10:59] TSC21 commented on #199
Solved! I had 2.4.8 instead of 2.4.9, Installing 2.4.9 solved. Closing now!

[2015-01-30 10:59] #199 closed

[2015-01-30 12:03] mhkabir commented on #201
Alright. I'll do it tomorrow.

[2015-01-30 12:10] vooon commented on #199
Hmm, 2.4.8 is a version in 14.04, and i did that links to solve build deps.

[2015-01-30 12:23] mhkabir commented on #198
OK, done : #202

[2015-01-30 12:24] mhkabir commented on #201
Done in #202

[2015-01-30 12:50] TSC21 commented on #88
We need to get our eyes on this soon. Don't know if it is easier to implement the actions on the firmware or in mavros. But probably it is the best approach to implement those commands on the firmware, and add some messages to mavlink.

[2015-01-30 13:47] vooon commented on #198
This work changes ROS API for PX4Flow sensor. Sending sensor data to FCU not supported anymore.

[2015-01-30 15:17] dottantgal opened #203 "MAVROS Rc Override"
hi all
i have an issue using mavros with the PX4.
The "rc chan override" doesn't work using the ArduRover firmware on the PX4: the mavros/rc/override appears on the topic list when i publish and it is full, but the rc/in and rc/out don't change (they have the values sent using the Fly Sky controller).
I was able to override the channel using Roscopter without problems.
Do you have any suggestions?

[2015-01-30 15:19] mhkabir commented on #194
@vooon It'd be great if you could take this up :)

[2015-01-30 15:21] #102 closed

[2015-01-30 15:25] #198 closed

[2015-01-30 15:26] mhkabir commented on #201
Ready to release.

[2015-01-30 15:43] vooon commented on #203
Did you setup GCS system id property on APM?

Overrides only accepts from GCS system Id, so you should tell APM that number.
By default it GCS is 255, mavros desined to be run at OBC as part of the system, so their default 1 (same as APM).

You could:
1. Setup FCU property: `rosrun mavros mavparam set SYSID_MYGCS 1`
2. Use connection URL with `ids=` attribute, e.g. `serial:///dev/ttyACM0:57600?ids

[2015-01-30 15:47] vooon opened #204 "Update wki documentation for 0.10.1"
mavros
---------
- [x] sys_time
- [x] command
- [x] rc_io

extras
--------
- [x] px4flow
- [x] mocap
- [x] visualization

Notes for
-----------
- [x] FCU modes (APM & PX4)
- [x] rc_io `SYSID_MYGCS`
- [x] pixhawk offboard mode (wiki link)

[2015-01-30 15:50] dottantgal commented on #203
Thank you, i've read about it in other issues but if i run that command ther result is
` Couldn't find executable named mavparam below /home/pc-casy/catkin_ws/src/mavros/mavros
[rosrun] Found the following, but they're either not files,
[rosrun] or not executable:
[rosrun]   /home/pc-casy/catkin_ws/src/mavros/mavros/scripts/mavparam`
so to do that i have to reach the `/home/pc-casy/catkin_ws/src/m

[2015-01-30 15:56] vooon commented on #203
Maybe `rosrun` missed?
In my current install of Indigo on 14.10 it don't exist, but i blamed my setup (because i must wait Jade for 14.10...).

Also mavparam has shebang, so explicit calling python not required.

[2015-01-30 15:58] vooon commented on #203
Oh, or check file permissions all scripts should have exec perm (x).

[2015-01-30 16:12] dottantgal commented on #203
Yes, thanks, it's all about the permissions!

[2015-01-30 16:32] vooon commented on #203
But **git** know what permissions should be...

TODO: need add note about `SYSID_MYGCS`.

[2015-01-30 16:32] #203 closed

[2015-01-30 17:06] vooon commented on #130
Reports + my tests:

1. Ubuntu 14.04.1 LTS + Indigo => bug present
2. Ubuntu 14.10 + Indigo (don't do it yourself :) ) => bug is gone.

I think that main difference is gcc and stdc++ version (4.8 or 4.9).

[2015-01-30 21:34] tonybaltovski commented on #88
The messages exist in mavlink but with GPS data.

[2015-02-01 22:01] vooon commented on #201
Release PR's:
- https://github.com/ros/rosdistro/pull/7048
- https://github.com/ros/rosdistro/pull/7049

[2015-02-01 22:09] vooon commented on #201
Merged.

[2015-02-01 22:09] #201 closed

[2015-02-03 14:43] vooon commented on #204
Modes list: http://wiki.ros.org/mavros/CustomModes

[2015-02-03 15:04] vooon opened #206 "Fix param namespace in sys_time plugin."
Frame id and others need to be moved to `~time/` ns.

[2015-02-03 15:28] vooon opened #207 "Fix param names in visualization plugin"
https://github.com/mavlink/mavros/blob/master/mavros_extras/src/plugins/visualization.cpp#L54

Move `~visualization/visualization/xxx` → `~visualization/xxx`.

[2015-02-03 15:36] #204 closed

[2015-02-05 01:41] cnsimbe commented on #180
How does one change the RC_MAP_OFFB_SW parameter on apm mission planner?

[2015-02-05 02:37] mhkabir commented on #180
It's only for the PX4 native stack.

APM does not have support for it.
On Feb 5, 2015 7:11 AM, "cnsimbe" <notifications@github.com> wrote:

[2015-02-06 07:39] pmukherj opened #209 "Plugins not publishing when using TELEM2"
Hey guys,

I just recently switched to using TELEM2 over an FTDI and mavros. Everything connects up fine, I get the heartbeat and the /mavlink/from topic clearly publishes topics. However, none of the plugins seem to be publishing data. Its odd, because using the USB port and the same settings/launch files, all the data seems to be publishing fine (albeit slowly, which is why I'm switching to TELE

[2015-02-06 09:25] vooon opened #210 "Placklist image plugins for PX4 too"
Usually users do not have image streams from PX4 FCU, and those who wants image streams know how change blacklist :).

[2015-02-06 09:40] vooon commented on #209
Check your PX4 configuration. I see that status publushed at very high rate (~30 Hz) also heartbeat at 50 Hz. Usually it published at 1 Hz.
Almost all publish rates defined by FCU, not mavros.

I don't see most of topics in bag file. Try use something like this launch:
[code]

But change it for px4.

Also i don't see mavros startup messages, where it reports what plugins it load.

[2015-02-06 10:49] mhkabir commented on #209
@vooon As issue stands, QGC is not connecting either.

[2015-02-06 11:04] mhkabir commented on #210
;)

[2015-02-06 11:32] #210 closed

[2015-02-06 11:34] vooon opened #211 "Update config.yaml files 0.11."
Some of parameters outdated.

[2015-02-06 11:35] vooon commented on #209
And direct connection QGC-TELEM2 too?

[2015-02-06 11:42] mhkabir commented on #209
Yes, direct connection.

The issue isn't mine, its @pmukherj, we tried debugging it this
morning, to no avail.

On 2/6/15, Vladimir Ermakov <notifications@github.com> wrote:

[2015-02-06 16:30] pmukherj commented on #209
Yes. @mhkabir is correct. QGC is still not connecting. This is on a Dev build of px4. The connections are fine over USB and the FTDI cable is fine as I'm able to communicate using it in APM. However APM only goes upto baud 115 over TELEM.

I am using the default px4.launch but with the port settings changed to be correct (USB0/921600)

Under 'rostopic list I see all the too

[2015-02-06 16:43] pmukherj commented on #209
Sorry, unfinished comment.
Under 'rostopic list' I see all the topics but when I bag '-a', its just the ones you see that pop in. Must be a rosbag oddity.

It loaded all the plugins reported a heartbeat but did not report RC signals or High Res IMU.

This is the full rostopic list
diagnostics
/mavlink/from
/mavlink/to
/mavros/battery
/mavros/camera_image
/mavros/camera_image/compressed
/mavros/cam

[2015-02-06 17:02] jgoppert commented on #209
I had this setup working last night. A couple of times I ran into a similar issue. What worked for me:

 1. Login via NuttX shell. Make sure position_estimator_inav and attitude_estimator_ekf are running.
 2. Make sure SYSTEM_COMPANION is set to 921600

[2015-02-06 17:04] pmukherj commented on #209
ooo. Hmm.
1. I'll try that. Is there anything specific you do to test that these are working?
2. I did verify this. Just to be a pendant it is SYS_COMPANION (not SYSTEM_COMPANION) correct?

[2015-02-07 01:31] mhkabir commented on #209
Hi Guys,

The reason that you don't get HIGHRES_IMU is that rcS on PX4 side is
scripted to start-up mavlink of TELEM2 in onboard mode.

I never probably never added HIGHRES_IMU to the stream list when I updated
that interface. I'll be doing that soon.

PJ, As James says, you estimation apps might not be running for some
reason. Did you try starting them manually?
 On 6 Feb 2015 22:34, "Prasenjit M

[2015-02-07 05:36] pmukherj commented on #209
Yup. Just checked it, @mhkabir and @jgoppert are right. My apps weren't running, I'm guessing it will be added to a startup script at some point?

[2015-02-07 06:05] pmukherj commented on #209
Aaaand that was because my airframe was not set. My bad. @jgoppert Maybe you had the same issue. Either way. Closing.

[2015-02-07 06:05] #209 closed

[2015-02-10 14:05] dottantgal opened #215 "mavros/state frequency"
Hi all,
I'm using a pixhawk with the ardurover firmware and i connect the autopilot with ROS using the wifi antennas.
is there any way to pump up the frequency of the mavros/state topic??
i see that the mavros/from come at 100Hz but the mavros/state at 1Hz.
Thank you

[2015-02-10 14:23] mhkabir commented on #215
State data is pushed at 1hz. You probably can use the mavsys call to
increase the stream rate. It's not very important though.

What'd you need state for?
On 10 Feb 2015 19:35, "dottantgal" <notifications@github.com> wrote:

[2015-02-10 14:24] dottantgal commented on #215
i need it in my project to change the operation mode from auto to manual and viceversa
I've tried to use the mavsys but nothing changes

[2015-02-10 17:01] mhkabir opened #216 "Reiterate over frame conversions between NED and ENU"

[2015-02-10 18:17] vooon commented on #215
Why clog the channel with unnecessary information?
You want change modes several times per second?

[2015-02-10 21:54] LorenzMeier commented on #197
I did throw a few notes in here:
http://www.pixhawk.org/dev/ros/motion_capture

It would be great to get some momentum going to turn this into a real tutorial. All the pointers are there.

[2015-02-11 13:35] dottantgal commented on #215
I have wrote a node as bridge between simulink and mavros so i can override the RC channels using a control algorithm in matlab. I use a channel of the radio controller to switch the operation mode from manual to auto and viceversa so with my node i check continuously the state. Matlab send to my node the pwm frequency for the channels and it's connected via UDP.
With my bridge node I subscribe to

[2015-02-11 14:49] dottantgal commented on #215
I've fixed the problem about the publishing of the RC_CHANNELS so now i don't have delays to control the rover from matlab, but if i switch from auto to manual mode i have to wait the read of the state and in the meanwhile i could crash with my rover if something goes wrong with the matlab algorithm because the 1HZ frequency is too much low :)
Could you tell me how to pump up the rate frequency of

[2015-02-11 14:51] vooon commented on #215
You can subscribe to `~rc/in` and check mode channel state. Rate on that topic can be modified by mavsys.
But actual mode can be differ, so check `~state` too.

[2015-02-11 14:57] dottantgal commented on #215
Thank you.
could you write me the command line to use mavsys on RC frequency? Actually i don't remember about it
thank u so much!

[2015-02-11 15:13] dottantgal commented on #215
I ve found how to do it
` rosrun mavros mavsys rate --rc-channels 50`
but nothing changes, rc/in is published at 3HZ and it's too low

[2015-02-11 16:02] dottantgal commented on #215
Ok, i think that the problem is because i'm using the telemetry antennas to comunicate with the pixhawk.
If i use the mavsys command when the pixhawk is wired with a usb cable i can pump up the frequency to 25HZ and it's a really good value.
I can't do anything if i use the antennas...probably it is a problem on the pixhawk side or not?
thank you

[2015-02-11 16:12] mhkabir commented on #215
The radios are rate-limited. You cannot do anything about that.

[2015-02-11 16:31] dottantgal commented on #215
MMMM do you know why the mavros/from is published at 100HZ using the antennas and the other stuff from  5 to 1 HZ????

[2015-02-11 16:39] mhkabir commented on #215
mavros/from is the raw mavlink datastream. Not a particular message.

On Wed, Feb 11, 2015 at 10:01 PM, dottantgal <notifications@github.com>
wrote:

[2015-02-11 22:09] vooon commented on #215
`/mavlink/from` consists all messages come from FCU, so it's rate is a sum.

Note that telemetry bandwidth is limited, so probably if you can setup faster datalink you could set higher rates.
But i don't know does APM have similar bandwidth manager as PX4 have.

[2015-02-12 11:16] LorenzMeier commented on #216
Maybe someone can comment on the current state? I lack the time to sift through the code currently, but I'd be happy to review the transformations.

[2015-02-12 16:15] tonybaltovski commented on #216
@LorenzMeier See PR #208.

[2015-02-13 09:31] dani-carbonell commented on #178
"rosservice call /mavros/set_stream_rate 0 100 1"

This command works whit the APM firmware, shouldn't work with the PX4 also?

[2015-02-13 09:38] LorenzMeier commented on #178
We have deprecated the streams API since it's not flexible enough. I will put up docs and an example using QGC how to configure message rates.

[2015-02-13 09:53] dani-carbonell commented on #178
Should we document this in the ROS wiki also to avoid confusion?

Thanks Lorenz

2015-02-13 10:38 GMT+01:00 Lorenz Meier <notifications@github.com>:

[2015-02-13 14:17] rakeshkaupu opened #217 "log debugger"
Hello,
I'm trying to "OFFBOARD CONTROL the drone using my linux machine using optitrack"
Every time I try to arm the drone (px4) I get this error message "Request Failed. Check the logs.".
I'm not sure if I'm looking at the right log, but the one I'm looking at says "/use_sim_time" is not set.

When I try and set the "use_sim_time", I'm not able to launch itself. I'm guessing the message setting t

[2015-02-13 15:19] vooon commented on #217
Sim time is a simulated ros wall time, don't use.

Logs you interested is mavros log (on console that runs mavros launch, or in `~/.ros` folder for `mavros_node`).
Usually what you want, is FCU log messages ('FCU: xxxx'). And because i still didn't run my UAV with pixhawk i don't know does it write those messages to SD log.

[2015-02-13 15:30] mhkabir commented on #217
You're probably saftied.

Press the safety switch and then send the command.
On 13 Feb 2015 19:47, "rakeshkaupu" <notifications@github.com> wrote:

[2015-02-15 23:08] vooon opened #218 "Support for multicast UDP bridge"
Planning now.

[2015-02-18 11:27] blackcoder commented on #199
@TSC21  I am facing the same issue on Ubuntu 14.04, how did you install the 2.4.9 Ubuntu 14.04 has only the 2.4.9 !

[2015-02-18 11:44] mhkabir commented on #199
@blackcoder Do a source install please

[2015-02-18 12:28] dani-carbonell opened #219 "Edit rc.usb with mavftp"
Hi,
I want to publish trough "/dev/ttyACM0" HIGHRES_IMU messages at 100 Hz since default config is 1Hz. I am able to set it with "mavlink stream" command but I want to make it permanent.

I've tried to edit the rc.usb file with the mavftp but I am getting errors, I am afraid is still not fully implemented.

Is there a way to modify/append/upload files without flashing the Pixhawk?

[2015-02-18 12:32] vooon commented on #199
Problem not in opencv version! I used 2.4.9 because it shipped in Ubuntu 14.10.
And it builds fine on jenkins ([indigo trusty 0.10.1][it]), so 2.4.8 is ok.

Not ok is mixing ros opencv package (placed in `/opt/ros`) and system.
Because ros package provides experimental opencv3.

[it]: http://jenkins.ros.org/job/ros-indigo-mavros-extras_binarydeb_trusty_i386/32/consoleFull

[2015-02-18 12:36] vooon commented on #219
FTP fully implemented, but you tried modify ROMFS entry (read only).
You can edit `etc/extras.txt` on SD, and disable px4 startup quirk.

[2015-02-18 12:36] vooon commented on #219
https://pixhawk.org/dev/system_startup

[2015-02-18 12:38] vooon commented on #219
Note: be careful with mode options, it may disable FTP :)

[2015-02-18 15:00] psei0r commented on #180
Hi pmukherj and mhkabir!

I am currently trying to control the pixhawk via MAVLINK / ROS too but I am encountering the problem that the pixhawk doesnt react to it... The difference between us might be that I do not fly with it but want to drive my rover...

Here is what I did:

1) Install latest PX4 Firmware (https://pixhawk.org/dev/nuttx/building_and_flashing_console)
2) connected throttle and st

[2015-02-18 15:18] mhkabir commented on #180
There isn't much testing on the system with offboard mode. Please make sure you arm and try.
Can you try position setpoints first.

[2015-02-18 15:19] mhkabir commented on #180
And check the Attitude target message in QGC if the values change with the setpoint.

[2015-02-18 15:25] psei0r commented on #180
I have problem arming the rover, pixhawk is e.g. complaining that airspeed sensor would be missing.... but as I said before, I dont wanna fly I just wanna drive. There are no rotors/motors that need to be armed on my vehicle, or is that step mandatory on each vehicle ?

[2015-02-18 15:32] mhkabir commented on #180
Yes of course. You need to arm the vehicle + de-safety , otherwise no outputs at all. You can disable airspeed sensor checks like this : https://pixhawk.org/dev/circuit_breakers

Your approach isn't very good. Never a good idea to use Plane firmware for a rover. Its a very hacky way of doing it. You could probably make your own rover start-up script + mixer.

[2015-02-18 15:35] dani-carbonell commented on #219
Thanks vooon :+1:
I will try once I solve rencent problems with the USB.

[2015-02-18 15:37] psei0r commented on #180
I had some email correspondency with Lorenz Meier, he suggested this approach.

I also tried with APM Rover 2.47 firmware, but then I cannot comunicate with the pixhawk on the TELEM2 port...

So I went back to PX4 stack, which unfortunately has no pre-config for rovers.....(at least I cannot find them in qgroundcontrol)

My Long-Term goal is exactly what you suggegested, building a complete custom

[2015-02-18 16:00] mhkabir commented on #180
Have a look at this page : https://pixhawk.org/dev/mixing
I'd happy to help you when I get some free time later ;)

For APM:Rover, default connection is some other port I think.

[2015-02-18 16:02] mhkabir commented on #216
Actually, this is the current convention we use :

body-fixed NED → ROS ENU: (x y z)→(x -y -z) or (w x y z)→(x -y -z w)
local NED → ROS ENU: (x y z)→(y x -z) or (w x y z)→(y x -z w)

[2015-02-18 16:04] mhkabir commented on #216
![image](https://cloud.githubusercontent.com/assets/5557676/6250734/cde65020-b7b5-11e4-8b7f-0ff0527dd040.png)

I cannot verify the correctness of this diagram, but this is what I think we're doing now.

[2015-02-18 16:05] TSC21 commented on #216
Yes that's my scheme lol xD I can confirm it

[2015-02-18 16:22] psei0r commented on #180
Thanks a lot !! I see you know alot of this stuff, you seem to be MY MAN! =)

I looked into the mixing stuff quickly, i guess something like the FMU passthrough mixing would be an interesting configuration to do the testing?

https://github.com/PX4/Firmware/blob/master/ROMFS/px4fmu_common/mixers/FMU_pass.mix

If I understood correctly, this configuration will directly mix the inputs 0-3 (yaw pitch

[2015-02-18 17:35] tonybaltovski commented on #216
The issue isn't the actual conversion but rather when a certain conversion is used.

[2015-02-18 18:50] psei0r commented on #180
by the way, the page https://pixhawk.org/dev/ros/mavros_offboard needs to be updated, the needed mavros command is not shown (at the bot), i think it is
rosservice call /mavros/set_mode "base_mode: 0 custom_mode: 'OFFBOARD'"  ?

[2015-02-18 21:18] LorenzMeier commented on #216
I'm looking at this:
http://wiki.ros.org/geometry/CoordinateFrameConventions and
http://www.ros.org/reps/rep-0103.html

There are a number of issues with the graphic (and if it represents the orientation, the code):

 * ROS is always right-handed. The ENU graphic (bottom row) is left handed, which is not correct.
 * ROS is using ENU. ENU means east-north-up, so the X axis is pointing [EAST and the

[2015-02-18 22:54] vooon commented on #180
Better use `mavsys mode -c OFFBOARD` to change mode. Actually it do same service call, but i think it more human friendly.

(Prefix with `rosrun mavros script-name`)

[2015-02-19 12:02] psei0r commented on #180
rosrun mavros mavsys mode -c OFFBOARD works fine too! Just confirmed it =)

@mhkabir : I managed to turn off the safety checkings and I can now arm the pixhawk. But there is still no reaction of my servos to the setpoint topics, and I cannot check the ATTITUDE_TARGET message, since it doesnt seem to be streamed, allthough I have added the line

mavlink stream -d /dev/ttyS2 -s ATTITUTE_TARGET -r 10

[2015-02-19 12:41] vooon commented on #180
As i remember OFFBOARD have timeout (0.5 sec), and switches to POSHOLD.

[2015-02-19 12:44] psei0r commented on #180
When I stop sending ROS message to /mavros/setpoint/cmd_vel after I have armed the vehicle, it will start beeping and mavros will say this:

[ERROR] [1424348769.670787591]: FCU: failsafe mode on
[ INFO] [1424348770.671263234]: FCU: [cmd] nav state: DESCEND

After that, when I start sending ROS messages again, it will change back to OFFBOARD.

[ERROR] [1424348992.873188172]: FCU: failsafe mode off

[2015-02-19 13:36] mhkabir commented on #180
What messages do you yet in QGC with TELEM2?
On 19 Feb 2015 18:14, "psei0r" <notifications@github.com> wrote:

[2015-02-19 14:15] psei0r commented on #180
First of all, here is my extras.txt located on the SD card for starting the mavlink stream on TELEM2:

mavlink start -m custom -d /dev/ttyS2 -b921600 -x
usleep 100000
mavlink stream -d /dev/ttyS2 -s HEARTBEAT -r 5
usleep 100000
mavlink stream -d /dev/ttyS2 -s STATUSTEXT -r 1
usleep 100000
mavlink stream -d /dev/ttyS2 -s COMMAND_LONG -r 1
usleep 100000
mavlink stream -d /dev/ttyS2 -s SYS_STATUS -r

[2015-02-19 16:46] mhkabir commented on #180
Why did you put so many in extras.txt? You won't need to since you have set
the SYS_COMPANION parameter to 921600 for that ;)

This is probably a thing about thr fixed wing controller that the
controllers don't publish their targets from some reason. Unfortunately I
do not have a system which I can test on at the moment.

Post on px4users about it. Might be of some help.

Are your controller apps

[2015-02-19 17:02] psei0r commented on #180
I can try but this would just be an attempt to "dirty hack" the airplane config as said yourself before, right? Don't you think I should take a loot on the /init.d/rcS and try to setup my own px4 stack with only the things running that I need including a simple mixer for the outputs? I already tried to set CBRK_RATE_CTRL to 140253, because it says "This breaker disables the output of the system's

[2015-02-19 17:08] mhkabir commented on #180
Apologies, but this is way beyond the scope of the mavros bug tracker ;)

I'd be happy to guide you in a months time when I'm free. If you go with
the hacky method, then offboard should work. This is because offboard
forwards the set points to the controllers. The controllers publish the
target messages.

What you want to do is directly forward servo values to the channels from
ROS, right?
On 19 F

[2015-02-19 17:18] LorenzMeier commented on #180
I'd be happy to lend a hand. Can you contact me via Gitter chat?

[2015-02-19 17:24] psei0r commented on #180
I'd love to! I just logged into gitter.im, but I dont know how to find you there, I never used it before... sorry...maybe you can contact me somehow so that I can respond ? Thanks!

[2015-02-19 17:25] psei0r commented on #180
and @mhkabir : sorry I forgot to thank you as well, your information helped me alot !

[2015-02-19 17:26] LorenzMeier commented on #180
http://gitter.im/PX4/Firmware

[2015-02-19 17:34] psei0r commented on #180
@mhkabir :
Yes, I want to control the car via ROS messages. Our current car is driven by sending cmd_vel messages to an arduino/mpu6050 based controller running my own custom firmware on it. There I have direct access to the PWM outputs via I2C. But since we bought some pixhawks for research, I decided to use them to build a fleet of ROS driven RC cars.

[2015-02-21 11:59] blackcoder commented on #199
@vooon  you are right ! I simply removed ros-indigo-opencv3 and it compiled correctly.
For future reference, people facing the same problem should do the same:
[code]

[2015-02-25 10:35] vooon opened #220 "Add BSD license option"
@LorenzMeier wants more permissive BSD license, so mavros can be deeply integrated with PX4 codebase.

In that case i prefer not to change license, but add a second license.

- [x] libmavconn - triple licensed LGPLv3, BSD and GPLv3
- [x] mavros - GPLv3
- [x] mavros_extras - GPLv3

[2015-02-25 13:27] LorenzMeier commented on #220
Actually its not so much about PX4 compatibility (we don't link against mavros anyway) then about ROS compatibility. ROS is BSD licensed and a lot of ROS users depend on this licensing for their usage. For them having a GPL licensed communication layer as part of their setup is problematic and and has led to some of them using their own MAVLink to ROS bridges for licensing reasons only.

I therefo

[2015-02-25 14:05] vooon commented on #220
List of contributors for `mavros`:

- [ ] @mhkabir Mohammed Kabir
- [ ] @TSC21 Nuno Marques
- [ ] @tonybaltovski Tony Baltovski
- [ ] @mthz
- [ ] @ggregory8 Glenn Gregory

List of contributors for `mavros_extras`:

- [ ] @mhkabir
- [ ] @tonybaltovski
- [ ] @TSC21

[2015-02-25 16:46] vooon commented on #220
FYI: i just released mavros 0.10.2 for *Indigo* and *Jade* (new). Really it's small release for new distro.
In that version libmavconn becomes BSD.

[2015-02-25 16:50] tonybaltovski commented on #220
@vooon Sounds good to me.

[2015-02-25 20:56] TSC21 commented on #220
Ok, I'm not really into to this licenses thing, so do I just say "OK"? :D

[2015-02-25 21:13] vooon commented on #220
Generally in the BSD I do not like that my code can be closed. But on the other hand mavros does not have any complex code...

[2015-02-26 08:13] thedinuka opened #225 "coordinate frame conversion on vision_position_estimate"
I know this has been discussed before (#49) but I think the way the **orientation** is converted from ENU to NED in the vision_position_estimate.c is incorrect. (However, the way the position is converted is correct). In lines 142 - 145
[code]

This is assuming that Euler angles can be swapped when the axes is swapped, but that assumption is not true. Euler angles have an order associated with the

[2015-02-26 08:35] mhkabir commented on #225
@thedinuka We'll be sending the quaternion actually, as soon as the new message is done. See https://github.com/mavlink/mavlink/pull/333
Also, we're not sure about the current conventions, so contributions here would be welcome : https://github.com/mavlink/mavros/issues/216

[2015-02-26 09:00] tonybaltovski commented on #225
@thedinuka The rotation matrix for body frame is rot_x(pi/2) = [1,0,0; 0, -1,0; 0, 0,-1].  The body frame and the inertial frame are different.  The ROS body frame states the X is forward, Y is left and Z is up and multiplying will get you to the correct frame which is used.

[2015-02-26 09:06] thedinuka commented on #216
I agree mostly with whats @LorenzMeier has said. However,  unless I'm very much mistaken every coordinate frame in the above graphic except the bottom right one is a left handed coordinate system. Maybe you mislabeled x and y axes in the graphics's legend?

Apart from that I agree that converting fron ENU to NED is the same whether its for the ground frame or body frame.  On the body frame the nam

[2015-02-26 09:22] LorenzMeier commented on #225
Tony, do you have a link to the docs suggesting X is forward?

[2015-02-26 09:25] tonybaltovski commented on #225
@LorenzMeier  it's [REP 103](http://www.ros.org/reps/rep-0103.html#axis-orientation).

[2015-02-26 10:14] vooon commented on #225
See also #216, i think is more general that just vision plugin.

[2015-02-26 20:45] vooon opened #226 "Setpoint plugins documentation (0.11)"
Need check that all setpoint plugins documented.

- [x] accel
- [x] attitude
- [x] position
- [x] velocity
- [x] actuator_control

[2015-02-27 16:27] mhkabir commented on #216
@dinuka would you mind whipping up a new one in Paint or something, according to what seems correct to you . ;)

[2015-02-27 19:15] TSC21 commented on #216
I have the original file, can chnage it then ans send a new one (no need to use paint @mhkabir). The thing about right ans left hand seems right. But I still have doubts accoruding to having two different connversions, and when I did that image that time I was having them too. So probably we neeed go check the code, cause from what I remember, most of the impelementatios use the above conversions.

[2015-02-28 12:34] thedinuka commented on #216
While waiting for the modified version of the graphic by @TSC21 , I have given this a bit more thought and it seems more complicated than I initiall thought. I kind of agree with @TSC21. There are two different pairs of coordinate transformations that we need to think of.

1) Transformation from ROS convention of body-fixed frame to Pixhawk convention of body-fixed frame.
2) Transform from ROS con

[2015-02-28 18:09] mhkabir opened #228 "Update mocap plugin to use new message ATT_POS_MOCAP"

[2015-02-28 18:10] mhkabir opened #229 "Add support for direct actuator control"
This will be a new plugin. A custom ROS message will need to be implemented too, ideally.

[2015-02-28 18:29] mstuettgen commented on #229
Thanks for opening.
where can i find the definitions of the actuator control messages? do you have some example code to start?

[2015-02-28 19:11] mstuettgen commented on #229
https://pixhawk.ethz.ch/mavlink/#SET_ACTUATOR_CONTROL_TARGET

thats our baby

[2015-02-28 20:41] vooon commented on #229
Description looks like [RCOut.msg](http://docs.ros.org/indigo/api/mavros/html/msg/RCOut.html).

[2015-02-28 21:36] mstuettgen commented on #229
Hmm RCout unfortunately uses uint16t... i need float
i might begin with std_msgs/float for testing

[2015-02-28 21:44] mstuettgen commented on #229
http://docs.ros.org/indigo/api/std_msgs/html/msg/Float32MultiArray.html should do for testing

[2015-03-01 08:49] vooon opened #232 "Release mavlink 2015.3.3 for Hydro, Indigo and Jade"

[2015-03-01 13:19] vooon opened #233 "Change plugin topic namespaces"
I think that almost each plugin must be in their own namespace.
I don't like current mix in `~/setpoint/`, `global_location` and raw gps in `~/fix`.

Core plugins:
- [x] gps
- [x] local_position
- [x] global_position
- [x] setpoint_accel
- [x] setpoint_alttitude
- [x] setpoint_position
- [x] setpoint_velocity

[2015-03-01 13:23] vooon commented on #219
Any update?

[2015-03-01 15:39] mstuettgen commented on #219
@dani-carbonell, i suggest using TELEM2 for communication, as USB is quite unrelieable und unstable.
 here is my extras.txt:

usleep 100000
mavlink start -m custom -d /dev/ttyS2 -b 921600 -x
usleep 100000
mavlink stream -d /dev/ttyS2 -s HEARTBEAT -r 5
usleep 100000
mavlink stream -d /dev/ttyS2 -s STATUSTEXT -r 1
usleep 100000
mavlink stream -d /dev/ttyS2 -s SYS_STATUS -r 1
usleep 100000
mavlink st

[2015-03-01 15:40] mstuettgen commented on #219
-x will activate FTP

[2015-03-01 16:46] mhkabir opened #234 "Use "common" dialect for Travis"
@vooon It is better to use "common" in order to make sure no builds with new custom messages (only in common.xml) fail. @tonybaltovski's PR might be failing thus.

[2015-03-01 17:29] vooon commented on #232
There no changes since 2015.2.25, so i released that version for Hydro.

https://github.com/ros/rosdistro/pull/7419

[2015-03-01 17:48] #234 closed

[2015-03-01 17:54] vooon commented on #234
https://travis-ci.org/mavlink/mavros/builds/52643837 - works.

[2015-03-01 18:00] vooon commented on #94
I think we may close this issue. Maybe better use new message for complete IMU+ATTITUDE data in one piece.

[2015-03-01 18:00] #94 closed

[2015-03-01 18:03] vooon commented on #96
APM now sends `AUTOPILOT_VERSION` in response to command `MAV_CMD_REQUEST_AUTOPILOT_CAPABILITIES`.

[2015-03-01 18:08] vooon commented on #216
Please also look at #148 (covariation conversion).

[2015-03-01 20:09] #228 closed

[2015-03-01 23:58] vooon opened #235 "Multithreaded spinner"
I think that #69 and #66 comes from current single thread spinner.
Also that change allow us to do interprocess ros service call.

[2015-03-02 00:00] #235 closed

[2015-03-02 00:03] tonybaltovski commented on #233
+1

[2015-03-02 01:18] mhkabir commented on #229
@mstuettgen Awesome job on the plugin :) I just woke and saw the semicolon thing CD
I'll be closing this once you confirm that you have it working in Firmware

[2015-03-02 01:21] mhkabir commented on #229
Also, please make a generic wiki page in the PX4 wiki regarding off board actuator control. I'll patch it up and integrate with the rest of the off board docs.
Also, regarding the rover page, I think you can remove it from ROS as of now. I might take the current controller up sometime later, add positiom controller and turn it into a new standalone platform ;)

Thanks!!

[2015-03-02 01:23] #96 closed

[2015-03-02 01:26] vooon opened #236 "Possible command plugin ack bug"
Seems that waiting ACK is broken.

[code]

[2015-03-02 01:35] vooon commented on #69
Cosed by #235.

[2015-03-02 01:35] #69 closed

[2015-03-02 01:38] vooon commented on #66
Also closed by #235.

[2015-03-02 01:38] #66 closed

[2015-03-02 15:49] #229 closed

[2015-03-02 15:53] #217 closed

[2015-03-02 15:55] mhkabir commented on #219
Just use this : https://pixhawk.org/dev/companion_link

[2015-03-02 17:07] vmayoral opened #237 "Error compiling mavros for indigo (master)"
@vooon I'm having issues compiling mavros. Does this sound familiar to you?

[code]

[2015-03-02 17:41] mstuettgen commented on #220
I would be finde with BSD Licence, because I thinkt the advantage of every ROS user beeing able to user mavros outweighs the "limitations" to the code

[2015-03-02 18:08] vooon commented on #237
What OS version? Looks like old error on trusty (but it more compiler specific).
And i fixed that. What version of mavlink used?

[2015-03-02 18:18] vmayoral commented on #237
My bad, just noticed it was `debian/hydro/mavlink`. Updated to `debian/indigo/mavlink` and recompiling. Seems to progress.

[2015-03-02 18:29] vmayoral commented on #237
Got a similar error again. This time using https://github.com/mavlink/mavlink-gbp-release/tree/debian/indigo/mavlink
[code]

[2015-03-02 18:52] vooon commented on #237
Hmm, try add type casting: `(type)field` on error lines.

[2015-03-03 10:44] vooon commented on #232
Yesterday mavnative merged in to pymavlink.

- https://github.com/ros/rosdistro/pull/7434
- https://github.com/ros/rosdistro/pull/7435
- https://github.com/ros/rosdistro/pull/7436

[2015-03-03 10:46] #232 closed

[2015-03-03 11:54] gabrieag opened #238 "Add MAVLink PING message"
Are there any thoughts on the possibility of creating a plugin for handling MAVLink [PING](https://pixhawk.ethz.ch/mavlink/#PING) messages?

[2015-03-03 13:35] vooon commented on #238
For what purpose?

[2015-03-03 14:48] gabrieag commented on #238
For generating round-trip messages that'll allow us to synchronize Pixhawk-generated timestamps with ROS timestamps.

[2015-03-03 15:44] vooon commented on #238
Already done, look at [`sys_time.cpp`](https://github.com/mavlink/mavros/blob/master/mavros/src/plugins/sys_time.cpp#L237).

[2015-03-03 15:52] gabrieag commented on #238
Nice! This compensates for temporal drift only, or drift + offset?

[2015-03-03 16:21] clementbesson opened #239 "Send a Mission_Item message using mavros"
Hi,

I am using mavros to send commands to a Pixhawk from an Odroid XU3. I am currently trying to send a Mission_Item (#39) message with command id #113 to perform a change in altitude. My message has the following payload:

frame = 3
command = 113
current = 3
autocontinue = 1
and then the parameters and x, y, z data.

This message has been successfully tested in SITL and real life while sending i

[2015-03-03 16:45] vooon commented on #238
As i remember both, but you may check yourself, see #156.

[2015-03-03 16:53] mhkabir commented on #238
It compensates for both.
On 3 Mar 2015 22:15, "Vladimir Ermakov" <notifications@github.com> wrote:

[2015-03-03 16:55] vooon commented on #239
See the code! https://github.com/mavlink/mavros/blob/master/mavros/src/plugins/waypoint.cpp#L815

For GOTO current has magic value 2.
Also i don't see that APM supports `COMMAND_LONG` with `MAV_CMD_CONDITION_CHANGE_ALT`.

[2015-03-03 16:57] vooon commented on #239
You may add change alt quirk to waypoint plugin (same as GOTO).

[2015-03-03 17:58] gabrieag commented on #238
Thanks for the input. I think this can be closed now.

[2015-03-03 18:41] clementbesson commented on #239
Thank you for your quick reply. I remove the version of mavros I was using and I am trying to build mavros from source (to try and modify that magic value for the seek of testing) as explained here:

https://github.com/mavlink/mavros/tree/master/mavros

I created a workspace in my home directory as explained in ROS tutorials and when comes the time to perform the catkin_make it crashes and it give

[2015-03-03 19:20] clementbesson opened #240 "Fail to build mavros from source with ROS indigo and Ubuntu trusty"
Hi

I am trying to build mavros from source as explained here:

https://github.com/mavlink/mavros/tree/master/mavros

I created a workspace in my home directory as explained in ROS tutorials and when comes the time to perform the catkin_make it crashes and it gives me the following message:

[ 84%] Building CXX object mavros/mavros/CMakeFiles/mavros_plugins.dir/src/plugins/setpoint_position.cpp.o

[2015-03-03 19:39] clementbesson commented on #239
Thanks for your quick reply. I am going to make the modification to waypoint.cpp and build mavros from source. I will let you know if it worked

[2015-03-03 20:06] vooon commented on #240
Please install fresh mavlink package from shadow repo: http://packages.ros.org/ros-shadow-fixed/ubuntu/pool/main/r/ros-indigo-mavlink

For Ubuntu 14.04 amd64:
[code]

[2015-03-03 20:07] #238 closed

[2015-03-03 20:29] clementbesson commented on #240
Great thank you

[2015-03-03 20:32] vooon commented on #237
Also try to update mavlink package, look #240.

[2015-03-03 20:51] clementbesson commented on #240
Also, once I catkin_make in my workspace, what should I do to have ROS knowing that its there? Because right now I get error saying "ResourceNotFound: mavros" when I trying to rosrun when of my script. Thanks again for your help

[2015-03-03 20:52] clementbesson commented on #240
Also, once I catkin_make in my workspace, what should I do to have ROS knowing that its there? Because right now I get error saying "ResourceNotFound: mavros" when I trying to rosrun when of my script. Thanks again for your help

[2015-03-03 21:07] vooon commented on #240
`source <myws>/devel/setup.bash`

[2015-03-03 21:09] vooon commented on #240
For example there part of my `~/.zshenv` file (for bash change file extension):
[code]

[2015-03-03 21:38] clementbesson commented on #240
Ok so I added: source <myws>/devel/setup.bash at the end of my .bashrc file (in my home directory)
Then I open a new terminal, go to a different directory and run "roslaunch mylaunchfile.launch"
And I still get the same error...

Here is my launch file:

<launch>

	<arg name="fcu_url" default="udp://192.168.0.107:14552@192.168.0.107:14554" />
	<arg name="gcs_url" default="" />
	<arg name="tgt_syst

[2015-03-03 21:43] vooon commented on #240
Check that you sourced right setup.bash (and dot overwrite it with /opt/ros variant).

[2015-03-03 21:44] vooon commented on #240
So your `env` should be similar to my:
[code]

[2015-03-03 22:25] clementbesson commented on #239
It worked, thank you very much for your help

[2015-03-03 22:59] clementbesson commented on #240
Ok so its works when I source to the directory where I built mavros. If I go there and run the my launch file, its all good. If I open a new terminal, enter "rosrun mavros ......." it works. Therefore I think my question is as follows: how do I do to be able to use mavros wherever I am?

For instance I have a other directory: /home/clementbesson/dir and in dir, I need to source devel/setup.bash in

[2015-03-03 23:25] clementbesson commented on #240
I ended up chaining the second directory:  /home/clementbesson/dir to the one that contains mavros and it works fine. Thanks again for your time

[2015-03-03 23:45] #240 closed

[2015-03-04 03:07] ggregory8 commented on #220
@vooon sorry about not giving a response earlier. Agree BSD for ROS compatibility is good.

[2015-03-04 09:13] vooon commented on #220
Well, I got the agreement of all the authors of the code.
@mthz i don't have any contact information, so thanks for wp bug fix, but I will not wait for you.

[2015-03-04 09:18] mthz commented on #220
sry for the late response.
BSD works for me

[2015-03-04 09:21] vooon commented on #220
Ok, thanks!

[2015-03-04 10:00] vmayoral commented on #237
Fixed after adding:

Thanks!

[2015-03-04 10:00] #237 closed

[2015-03-04 10:39] vooon commented on #220
All done, next release (0.11) will be dual licensed GPL/BSD.

[2015-03-04 10:39] #220 closed

[2015-03-04 10:40] vooon commented on #237
Please send me a patch.

[2015-03-04 10:51] vmayoral commented on #237
@vooon tried to make a pull request but then noticed that i was using the hydro branch of the code while trying to compile indigo.

Here's what i did in the `mavros/mavros/src/plugins/param.cpp` file of the hydro version to compile in indigo:
[code]

just added the casting but for what i've seen you already took this into account in newer versions of the code. Do you still want a patch for the hyd

[2015-03-04 11:04] vooon commented on #237
Hm, i think i release that bugfix. But yes, you should use master for Indigo and Jade.

[2015-03-04 11:29] vooon opened #241 "Plugin API refactor #2"
I think that we may do some refactor for removing dead/unneeded code.

1. [x] Remove `get_name()` — because not needed, for documenting, blacklisting etc we used aliases.
2. [x] Move diagnostic updater to UAS (so we may add/remove diag tasks in connection slot)
3. [x] Move main node handle to UAS or remove it, because we may simply make new `ros::NodeHandle("~/plugin")`
  and previous `NodeHandle(

[2015-03-04 12:42] LorenzMeier commented on #220
@vooon This is really great news! I think it will greatly help the continuing adoption of mavros. The current situation with a top-level license file and LGPL in the headers is quite confusing. I would propose to remove the license text, and change it to a short paragraph along the lines below.
This simplifies the source code files and ensures the terms remain clear to everybody.

[code]
Then in t

[2015-03-04 13:24] vooon commented on #220
Ok, i will do it later.

[2015-03-04 13:26] vooon opened #242 "Update source license headers"
As proposed by @LorenzMeier  in issue #220.

[2015-03-04 14:10] #239 closed

[2015-03-04 15:12] clementbesson opened #243 "Building Mavros from source from Odroid XU-3 running Ubuntu 14.04.1 LTS"
Hi,

I am trying to build mavros from source as mentioned in issue #240 the difference being that I am doing it from an Odroid. I get an "internal compiler error" message mentioned below:

It looks like my system is running out of memory... Here is my memory specs (when I enter free -m):

Mem:          1995        843       1151         23         17        164
-/+ buffers/cache:        662

[2015-03-04 16:19] mhkabir commented on #243
Limit number of paralell tasks : catkin_make -j1

[2015-03-04 16:21] vooon commented on #243
1. please wrap dumps with ```
2. try `-j1`

[2015-03-04 16:27] clementbesson commented on #243
Thanks @mhkabir and @vooon for your replies. I tried catkin_make -j1 and now I get the following:
[code]

[2015-03-04 16:30] vooon commented on #243
Build mavlink deb from sources (look readme).

[2015-03-04 18:22] clementbesson commented on #243
Is this what I'm suppose to do? Not sure I'm looking at the correct readme
- Clone into a user-writable directory.
- Add the repository directory to your PYTHONPATH

[2015-03-04 18:52] clementbesson commented on #243
Ok so I followed the instructions in the readme file and I get stuck when I have to run

```catkin_make_isolated --install-space $ROSINSTALL --install -DCMAKE_BUILD_TYPE=Release```

I get this error:

```catkin_make_isolated: error: argument --install-space: expected one argument```

[2015-03-04 18:58] jgoppert commented on #243
You need to define ROSINSTALL. Usually it is defined by sourcing setup.bash in devel or /opt/ros/indigo

[2015-03-04 19:08] clementbesson commented on #243
I tried both and when I echo $ROSINSTALL its still empty...

[2015-03-04 19:23] jgoppert commented on #243
Just give it a directory  like install, it is just where the installed
files are put.
catkin_make_isolated --install-space install

On Wed, Mar 4, 2015 at 2:08 PM, clementbesson <notifications@github.com>
wrote:

[2015-03-04 20:03] clementbesson commented on #243
Ok so I successfully ran

```catkin_make_isolated --install-space /opt/ros/indigo --install -DCMAKE_BUILD_TYPE=Release```

when I go back to my mavros source code directory and run ```catkin_make -j1``` I have the same error message as previously

[2015-03-04 20:20] clementbesson commented on #243
Ok so I ran:

```catkin_make_isolated --install-space /opt/ros/indigo --install -DCMAKE_BUILD_TYPE=Release```

and then I get:

[code]

[2015-03-04 20:26] vooon commented on #243
Better do deb build instruction (dh binary). You should have permissions to write to /opt/ros, so you must be root.

[2015-03-04 20:36] clementbesson commented on #243
Yes I'm root. Ok so I ran:
[code]

Then I go back to ``` /home/odroid/mavros_source ``` which is the directory where I put mavros' source code. When I run ``` catkin_make -j1 ``` I get the same error as before... I'm sorry its taking so much time, I really appreciate your help though

[2015-03-04 20:47] vooon commented on #243
Don't forget install deb with `sudo dpkg -i *mavlink*.deb`

[2015-03-04 21:35] clementbesson commented on #243
Awesome thanks! I really appreciate that you took the time

[2015-03-05 12:10] vooon commented on #241
Done.

[2015-03-05 12:10] #241 closed

[2015-03-05 14:38] vooon commented on #233
Done.

[2015-03-05 14:38] #233 closed

[2015-03-05 15:37] vooon commented on #242
Done.

[2015-03-05 15:37] #242 closed

[2015-03-05 15:52] #207 closed

[2015-03-05 16:45] vooon opened #244 "Decode mav ap/type in diag"

[2015-03-05 17:39] #244 closed

[2015-03-05 18:01] vooon commented on #243
I think that i may close.

[2015-03-05 18:01] #243 closed

[2015-03-05 18:02] vooon commented on #215
Any update?

[2015-03-06 13:56] vooon opened #245 "Missing pymavlink in recent version of mavlink.deb's"

[2015-03-09 11:44] blackcoder opened #246 "FCU: command unsupported: 520"
New version of mavros is causing an error while trying to execute unsupported command 520 !

[code]

[2015-03-09 12:08] vooon commented on #246
Athat not error, just your FCU don't support version request. Duplicates #236.

[2015-03-09 12:08] #246 closed

[2015-03-09 12:46] blackcoder commented on #246
I am using the latest px4 code, is it implemented yet ?
Does this error cause any serious issues while using mavros ?

[2015-03-09 12:48] mhkabir commented on #246
Its not an error. Just a warning. PX4 doesn't support the request yet.

It doesn't affect runtime in any manner.
On 9 Mar 2015 18:16, "Tarek" <notifications@github.com> wrote:

[2015-03-09 13:03] blackcoder commented on #246
Weird, because I just updated my mavros code, last commit I used was 16f03eaf22a6757406001fb1f94b904c9971c6b5  for some reason I can't seem to have the vision estimation working with the most recent commits (localX,Y,Z are not being updated) and he light doesn't blink green. /mavros/position/vision is getting the location as usual. Any idea why this might be happening ?

[2015-03-09 13:45] vooon commented on #246
Because #241 and #233 -> `/mavros/vision_pose/vision`.

[2015-03-09 13:51] mhkabir commented on #246
Actually, also PX4 has removed inav from being default estimator for
multicopter.

Now ekf_att_pos_estimator is default but it doesn't support vision
estimated.

Change the default estimator in the ROMFS script or use the NuttShell to
stop the EKF and start inav.

@vooon Perhaps add a note to wiki.
On 9 Mar 2015 19:15, "Vladimir Ermakov" <notifications@github.com> wrote:

[2015-03-09 13:53] mhkabir commented on #246
Also perhaps we should change topic name to
``` /mavros/vision_pose/estimate``` so that it seems a but more clear?
On 9 Mar 2015 19:21, "Kabir Mohammed" <mhkabir98@gmail.com> wrote:

[2015-03-09 14:15] blackcoder commented on #246
Thank you @vooon  and @mhkabir , now it makes sense and it works just like before.
@mhkabir  you might have to update the wiki here https://pixhawk.org/dev/offboard_control/testing and change the topic names:

/mavros/position/local -> /mavros/local_position/local
/mavros/position/local -> /mavros/setpoint_position/local_position

[2015-03-09 15:22] mhkabir commented on #246
@blackcoder. Its a wiki. Feel free :) I'm all booked for this month.

[2015-03-09 15:55] blackcoder commented on #246
Done , @mhkabir I was more than happy to do it, just I wasn't sure that it's appropriate to do it at this stage since renaming/re-factoring is still in the process

[2015-03-09 16:28] mhkabir commented on #246
Now that you say it, I think we might have to discuss the naming once again.

Currently, @vooon , the names don't sound quite right. Perhaps discuss this
on Gitter?
On 9 Mar 2015 21:25, "Tarek" <notifications@github.com> wrote:

[2015-03-09 16:52] vooon commented on #246
I think better in tracker (so we could link them as #49).

[2015-03-09 17:01] vooon opened #247 "Better names for plugin topics"
We need some naming convention.
For now i only define that better use namespace with same name as plugin alias (where it is useful) (e.g. plugin `gps`: ns `~gps`).
That was common rule, but not strict. Also plugin with single topic (better with same name as plugin) may use `~`.

Current ns exceptions:

| plugin | namespace | topics |
| -------- | --------------- | ------- |
| `3dr_radio` | `~` | `

[2015-03-09 17:13] vooon opened #248 "3DR radio: cond diag & remove *_radio.launch"
Since recent plugin API changes now we may conditionally add/remove diag.
But with that change we loose failure status when no radio status reports received.
Also no more need for `*_radio.launch` variants.

[2015-03-09 17:15] vooon commented on #219
I think we may close.

[2015-03-09 17:15] #219 closed

[2015-03-09 17:15] #215 closed

[2015-03-09 17:17] vooon opened #249 "Enable plugins for APM"
We may at least enable `global_position` and #224.

[2015-03-09 23:20] tonybaltovski commented on #216
[This](https://github.com/ros-infrastructure/rep/pull/95) may help.

[2015-03-10 08:52] dottantgal commented on #215
Sorry about the delay.
Now I'm using the channel frequency that i use to change the operation mode, so i can reach the 25Hz and it's enough.
About the mavros/state: I'haven't tried to push up the frequency, so I think it is unsolved.

[2015-03-10 14:03] dottantgal opened #250 "GPS OVERRIDE"
Hi all,
do you think it is possible to override the gps signal (getting datas from an optitrack system) and use mavros/pixhawk/ardupilot machine indoor to develop control loop algorithms ???
thank you

[2015-03-10 14:20] vooon commented on #250
It is possible, but anyway you must change firmware first. Also note that extras alredy has mocap plugin.

[2015-03-10 16:49] dottantgal commented on #250
Ok and how can i use them? Is it possible to substitute this data with gps then we can use the loiter mode (or to access it)?

[2015-03-10 17:23] vooon commented on #250
I mean that currently FCU don't handle any mocap messages, only PX4 can handle vision position estimates (with inav).
So you should implement that in firmware, and for that you may use message implemented in mocap plugin.

[2015-03-10 17:26] mhkabir commented on #250
Use the PX4 stack and not APM.
On 10 Mar 2015 22:53, "Vladimir Ermakov" <notifications@github.com> wrote:

[2015-03-11 10:44] #206 closed

[2015-03-11 11:30] #248 closed

[2015-03-11 12:51] #249 closed

[2015-03-11 14:18] #245 closed

[2015-03-11 14:30] vooon commented on #245
Fix released:
- https://github.com/ros/rosdistro/pull/7481
- https://github.com/ros/rosdistro/pull/7482
- https://github.com/ros/rosdistro/pull/7483

[2015-03-12 12:32] dottantgal commented on #250
I've spent a lot of time whitin the code...What do you think if I'm going to write an internal app that  publishes the PX4s uORB vehicle_gps_position fake topic for the AP_GPS_PX4 driver that will present the data received to the APM?? I don't think that there is some kind of check about the data (maybe something about the uart connection of the hardware), so it could be possible.
Let me know
Than

[2015-03-12 13:30] vooon commented on #250
Better ask at [drone-discuss](https://groups.google.com/forum/#!forum/drones-discuss).

[2015-03-12 13:46] mhkabir commented on #250
Or px4users

Depending on the flight stack you end up using.
On 12 Mar 2015 19:00, "Vladimir Ermakov" <notifications@github.com> wrote:

[2015-03-12 15:41] tonybaltovski commented on #247
Perhaps use velocity instead of speed? Everything else +1.

[2015-03-12 18:13] vooon commented on #247
My list of "bad" topic names and possible new names:

| plugin | topic | new name | comment |
| --- | --- | --- | --- |
| `actuator_control` | `~actuator_controls` | `~actuator_control` | plural |
| `local_position` | `~local_position/local` | ??? | |
| `px4flow` | `~px4flow/raw/optical_flow_rad` | ??? | raw? |
| `safety_area` | `~safety_area/set` | ??? | maybe place it to `~`? |
| `setpoint_posit

[2015-03-12 18:17] TSC21 commented on #247
@vooon in the case of `~setpoint_position/local_position`, `local_` is needed if we want to add a plugin to send `global_position` (`SET_POSITION_TARGET_GLOBAL_INT` message).

[2015-03-12 18:19] TSC21 commented on #247
Agree with `~safety_area/set` be in `~`.

[2015-03-12 19:14] vooon commented on #247
Hmm, i think better keep `~safety_area` ns for params, so i keep `set` for now.

[2015-03-15 20:48] meuchel opened #251 "No node shutdon on 'DeviceError:udp: resolve: Bind address resolve failed'"
I'm using respawn='"true" for the mavros node in launch file.
If the gcs host is no more available due to a network error the mavros node shuts down and will be respawned as expected. When the gcs host comes back then following error can happen during starting node: "DeviceError:udp: resolve: Bind address resolve failed".
Unfortunatly the mavros node then keeps running but I would like that the no

[2015-03-16 04:42] vooon commented on #251
Ok, i will check. As i understood "bug" exists with `gcs_url`.

[2015-03-16 09:41] meuchel commented on #251
Yes, it occures with configured gcs_url using udp://...

[2015-03-16 14:29] vooon commented on #251
Bug should be there, but for what purpose you changed bind address? Try to use default `0.0.0.0` (empty host).

[2015-03-16 20:16] meuchel commented on #251
I didn't changed bind adress.
I start the node like this
<arg name="fcu_url" default="/dev/ttyACM0:921600" />
<arg name="gcs_url" default="udp://@gcshost:14550" />
where gcshost is another computer running apmplanner2 (gcshost is configured in /etc/hosts).
Both computer are connected via WLAN and when the connection gets lost the mavros node shuts down and will be respawned. During the respawn att

[2015-03-18 10:37] vooon commented on #251
Hmm, try do set static dhcp address for your host. In that case router will add it to hosts, so dns will be successfull.

Also checked sources. Wrong issue title: mavros should say "Remote address resolve failed.", not bind.
And it is intentional that remote could not present at startup. Other side may send some data and then this address will be used. No need to restart mavros.
Just send some dat

[2015-03-18 10:38] vooon commented on #251
If DeviceError occurs, mavros should stop, but it might interferre with #130.

[2015-03-18 14:48] meuchel commented on #251
Hi Voon,
not sure if I got you.
Ok, I will configure now static IP addresses on both sides:
- Host which is running mavros and roscore connected via USB to FCU. This host is connected to network via WLAN.
- and the other host (you name it remote?) where in my case apmplanner2 is running waiting for data from UDP. This host is connected to network with RJ45 cable.
Will let you know the results.

Wh

[2015-03-18 17:21] vooon commented on #251
Unfortunately GCC does not send anything until it receives a heartbeat. So both ends (mavros and gcs) waiting some interaction from other side.
You may write simple program that sends one message or use `socat` with right parameters (please read man page).
Something like this `UDP:mavros-host:14555,sourceport=14550`.

I mean setup static DHCP IP's on router.

[2015-03-18 20:11] meuchel commented on #251
So, I've setup static IPs on the router for both hosts but this didn't help.
Sometimes respawning of mavros works but sometimes I get still the known error (see below).
In addition assign fix IP on mavros host makes of course no differnce too.

Sending something with socat didn't change anything.
When mavros is running normaly I can see the traffic with socat.
But if below error occurs and I try t

[2015-03-18 22:39] vooon commented on #251
Please try latest version build from sources.

[2015-03-19 21:15] meuchel commented on #251
I built from sources and the behaviour remains the same with a slightly different error message (...udp1: resolve error...).
...
[mavros-1] restarting process
process[mavros-1]: started with pid [28528]
[ INFO] [1426799268.745845168]: FCU URL: /dev/ttyACM0:921600
[ INFO] [1426799268.747444908]: serial0: device: /dev/ttyACM0 @ 921600 bps
[ INFO] [1426799268.749947642]: GCS URL: udp://@gcshost:14550

[2015-03-19 22:05] vooon commented on #251
Try `udp://@` and then send something from gcshost to udp 14555.

[2015-03-19 22:12] vooon commented on #251
What you want is `Remote address: ` message with gcshost address.
Bind resolve failures looks weird (why it fail to resolve `0.0.0.0`?) and seems that related to your local DNS cache.
Present versions of Ubuntu uses `dnsmasq` for caching, sometimes it may break ddns (until TTL).

[2015-03-19 22:39] vooon opened #252 "Release 0.11"
I want to release 0.11 at month end (30 March ~ 1 April).

For that we must close #247, and then #211, #226.

While seems that frame-conversion things (#216 and #193, #194, #225) will be added when they are ready.

[2015-03-19 22:40] vooon commented on #250
Any update?

[2015-03-20 09:07] meuchel commented on #251
Unfortunatley I can try what you mention at the earliest tomorrow.

You mean: arg name="gcs_url" default="udp://@" ?
And this will do what?

Why do you think sending something from gcshost changes anything, especilly when binding failed before?

Regarding "Bind resolve failures looks weird (why it fail to resolve 0.0.0.0?) ":
For me this is strange too.
As I worte before the issue doesn't happen a

[2015-03-20 10:19] vooon commented on #251
Any received message on udp connection changes remote address (gcs host), so after sending some data mavros gets remote and sends hb, gcs receives hb → connection established.

[2015-03-20 14:57] meuchel commented on #251
Ok, will try this soon.
Regarding "...after sending some data mavros gets remote and sends hb..."
This is a nice thing but makes no sense if GCS software itself sends nothing to mavros. (as you mentioned above it waits first for an heartbeat)
So always an additional tool would be neccessary wich sends sometimes something like a heartbeat to the mavros host?"
This is a nice thing but makes no sense

[2015-03-20 16:57] meuchel commented on #251
With using udp://@ the bind issue seems to be gone (yet I dropped only several times the wlan connection) but this causes problems at GCS side now.
If the connecton to mavros host got lost first I need to recognize this.
Stop apmplanner2.
Needs to check if the connection to the mavros host is available again.
Send something with socat - UDP:192.168.1.32:14555,sourceport=14550
Then kill/end socat a

[2015-03-20 17:07] meuchel commented on #251
want to add:
With using udp://@ and when wlan connection gets lost the mavros node still shuts down and will be respawned.

[2015-03-20 17:49] vooon commented on #251
That requires changes in GCS, connection dialog has some heartbeat options, but it seems that don't work.

[2015-03-23 10:58] #250 closed

[2015-03-23 13:07] vooon commented on #247
Changed only `actuator_control`. Safety area are ok.

@mhkabir please look too.

[2015-03-23 13:37] dottantgal commented on #250
Yes, i'm creating a ROS node that is able to send GPS fake messages. At the moment i can get the green light using costants value, but i'm going to fix it using variable values!! It  seems to work because i can switch to Loiter mode without problems :dancer:

[2015-03-23 15:11] tonybaltovski commented on #247
Just throwing out ideas:

- `~vision_pose/vision`  -> `~vision/pose`
- `~vision_speed/speed_vector` -> `~vision/velocity`
- `~setpoint_position/local_position` -> `~setpoint_position/local`
-  `~local_position/local` -> `~local_position/pose`

[2015-03-23 16:49] vooon commented on #247
I don't want merge namespaces between plugins anymore (`~setpoint/`).
But other looks ok. Table updated.

[2015-03-24 12:46] vooon commented on #247
Updated table. Decided keep current names in `local_position`, `global_position` and `px4flow`.

[2015-03-24 13:08] vooon opened #257 "Plugin white list"
Some time we need only strictly defined list of plugins or override blacklist rule.

New node parameter `~plugin_whitelist`, that works:

1. if `~plugin_blacklist` and `~plugin_whitelist` is empty: load all
2. if `~plugin_blacklist` is empty and `~plugin_whitelist` non empty: assume `~plugin_blacklist` as `["*"]` (all)
3. if `~plugin_blacklist` non empty: usual blacklist behavior
4. if `~plugin_wh

[2015-03-24 15:00] vooon commented on #257
Done.

[2015-03-24 15:00] #257 closed

[2015-03-24 15:23] vooon commented on #247
Table updated.

Plugins updated too. And because no new changes proposed i close issue.

[2015-03-24 15:23] #247 closed

[2015-03-24 15:24] vooon commented on #211
All done.

[2015-03-24 15:26] #211 closed

[2015-03-24 15:30] vooon commented on #252
Decided to release now! :D

[2015-03-24 16:28] vooon commented on #252
PR's:

- indigo: https://github.com/ros/rosdistro/pull/7609
- jade: https://github.com/ros/rosdistro/pull/7610

[2015-03-24 16:28] #252 closed

[2015-03-24 17:11] #226 closed

[2015-03-26 18:34] dani-carbonell opened #258 "Mavros not publishing in topics"
I run the `rosrun mavros px4.launch` on my laptop with Ubuntu 12.04 - ROS hydro and it works perfect and I can see the msgs with `rostopic echo /mavros/data/imu` but when I try to run it on a robot with the same Ubuntu - ROS - Kernel - Permissions on the USB  it just do not publish in any topic. I am able to list them but there is no way to see them.

[code]

[2015-03-26 21:14] blankered opened #259 "source install"
I am trying to compile from source the new mavros 0.11 on indigio armhf. I get stuck at 54% when I run catkin_make. I understand that this is all still under development and hasn't been officially released yet through ros but I thought I would post the error I am having anyway so to help with the development.

[ 54%] Building CXX object mavros/mavros/CMakeFiles/mavros_plugins.dir/src/plugins/sys_s

[2015-03-26 21:27] blankered commented on #258
You might need to change your launch file to /dev/ttyUSB0:57600. Rostopic will list topics even if it is not connected to the pixhawk. You can verify that the pixhawk is connected with a heartbeat message which I do not see above.

[2015-03-26 21:33] MarcGyongyosi commented on #259
There's something wrong with the mavlink version as far as I know and the message definitions mess up. There is a workaround described in one of the closed/solved issues on here. You have to install mavlink separately. I got it working on a jetson tk1.

[2015-03-26 21:47] blankered commented on #259
was this your solution?
https://github.com/mavlink/mavros/issues/240

[2015-03-26 22:40] blankered commented on #259
I installed mavlink from source but catkin_make in /opt/ros/indigo/share/mavros/workspace still fails

[2015-03-26 23:48] blankered commented on #259
I was trying to compile a modified local_position.cpp file and think this was the cause of the error.

[2015-03-26 23:48] #259 closed

[2015-03-27 01:11] vooon commented on #258
Check diagnostics ("FCU connection"). I don't see *CON* notification.

Use rqt plugin for that: http://wiki.ros.org/rqt_runtime_monitor
It is very useful (just set master uri on your PC)!

Check `dmesg` what usb-com device used for px, maybe wrong ACM?

[2015-03-27 01:14] vooon commented on #258
Also note, all topics are created before handling mavlink messages, so many of them may be silent.

[2015-03-27 11:00] dani-carbonell commented on #258
Thanks @vooon fr the recomendation of rqt tool. It was very useful to detect that a node of a laser scanner (not present) was blocking the port. I was really sure about the port since `/dev/ttyACM0` disappears when unplug the Pixhawk. As you say, I wasn't receiving the heartbeat but I didn't know why.

Thanks both of you :)

[2015-03-27 11:00] #258 closed

[2015-04-01 01:25] ymkim92 opened #261 "Stupid question for the purpose of mavros"
Hi,

I cannot understand why you use the mavros.
Just for using convenient monitoring and control tool of ROS such as rqt and rostopic?
Can you share the purposes with me?

[2015-04-01 07:44] vooon commented on #261
Because ROS is great for robotic application development, thats why.
In confirmation here is one example: PX4 SITL built as a bunch ROS nodes.

[2015-04-01 08:34] ymkim92 commented on #261
Thanks a lot!
I have one more stupid question.
If ROS is great for robotic application development, why are PX4 and APM working on MAVLink?
I think ground control station such as mission planner and mavproxy is great! Is that all?

[2015-04-01 08:55] vooon commented on #261
Probably because ROS require linux computer, while APM initially uses 16 MIPS AVR8?
Also, do not confuse a framework with telemetry protocol.

PX4 uses MAVLink as a telemetry and command protocol, internally they use ORB that similar to ROS topics (thats why they easily use ROS topics in SITL).

[2015-04-01 09:18] ymkim92 commented on #261
I want to use ROS as the framework of my own drone (both H/W and S/W)  and MAVLink as telemetry protocol.
To do that, can I use mavros? I am working on my own hardware that is not commercial like PX4.
Can you give some hint?

[2015-04-01 09:46] vooon commented on #261
For what purposes you wants atmega? I think better use STM32 or even run AP software on CPU (see erle-brain project).

Mavros node desined to speak with FCU and provide transparent link for GCS software. So in general it not fit if you wants provide ROS-AP <-> MAVLink GCS.

But if unload all standard plugins and replace by yours you could use fcu_url as gcs.
Or better use `gcs_bridge` node for cre

[2015-04-01 13:06] vooon opened #262 "python: replace ns argumens with one global place"

[2015-04-01 14:31] vooon opened #263 "mavftp: verify file up/download"

[2015-04-01 15:32] #263 closed

[2015-04-02 22:41] ymkim92 commented on #261
In my hardware structure, ATMega takes charge in controlling of IMU, PWM, and GPIO and Arm CPU computes navigation algorithm. But I did not design this structure so I am not sure this is good or not.
Thank you very much for your advice.

[2015-04-02 22:41] #261 closed

[2015-04-04 19:17] TSC21 opened #264 "Add support to DISTANCE_SENSOR msg coder/decoder"
Related to https://github.com/PX4/Firmware/issues/1986.

[2015-04-04 19:24] TSC21 commented on #264
Ideally, this has the following features:
- [ ] rosserial connection
- [ ] `DISTANCE_SENSOR` coder (decoder may only make sense if sensor is connected on the FCU)

[2015-04-05 04:22] mhkabir commented on #264
A decoder probably makes more sense since it is better to connect whatever low level peripherals you want (e.g Laser ranger)  to your flight controller.
Not much point using the companion computer for this. It would use up a serial port too.
And serial isn't the best bus for external sensors. Use a more appropriate bus  (SPI,  UAVCAN) for interfacing external sensors.

For the decoder to ROS, see

[2015-04-05 04:23] mhkabir commented on #264
PX4 implementation would involve adding a mavlink message stream to read from the distance sensor uORB topic.

[2015-04-05 07:14] TSC21 commented on #264
@mhkabir thanks for your inputs. I wasn't really asking to this to be implemented, more like this is an ongoing implementation where ideas are welcomed :D
The decoder is certainly easy to get done, also as the coder. The PX4 implementation though can involve adding support to this message I think.

[2015-04-05 09:14] vooon commented on #251
Any update?

[2015-04-05 13:46] #129 closed

[2015-04-05 13:55] TSC21 commented on #129
Excellent @vooon :D How can we try this out?

[2015-04-05 14:04] vooon commented on #129
1. launch mavros (be sure that ftp plugin loaded)
2. `mkdir /tmp/my-px4-mountpoint`
3. `rosrun mavros_extras mavftpfuse /tmp/my-px4-mount-point`

[2015-04-05 14:07] vooon commented on #129
Advantage of mavftpfuse: usag of regular console tools (and even gui editors, but ther swap files may slow down)
Disadwantage: mavftp uses CRC32 to check files transfer, -fuse not.

[2015-04-05 14:20] TSC21 commented on #129
Thanks! Is there any other GUI tool do you recommend using besides MacFusion?

[2015-04-05 14:32] vooon commented on #129
I don't use any gui for mounting. Also i don't checked with mac os (fusepy has support, but you also need ROS).

[2015-04-05 14:34] TSC21 commented on #129
OK thanks!

[2015-04-06 09:44] vooon opened #265 "Correction release 0.11.1"
- [x] #262 python ns
- [x] FTP enhancements
- [x] attitude namespace
- [x] update docs

[2015-04-06 11:16] vooon commented on #262
Done.

[2015-04-06 11:16] #262 closed

[2015-04-06 11:31] vooon commented on #265
- indigo: https://github.com/ros/rosdistro/pull/7791
- jade: https://github.com/ros/rosdistro/pull/7792

[2015-04-06 14:52] #265 closed

[2015-04-07 09:04] vooon opened #266 "Replace period parameters with rate"
In next release i want replace some period parameters with rate (where it's better fit, e.g. timesync message rate).

Parameter list to change:
- [x] `~conn/timesync`
- [x] `~conn/system_time`
- [x] `~conn/heartbeat`

[2015-04-08 21:08] wangsen1312 opened #267 "Warn appears when using mavros through 3dr radio telemetery"
When I  want to connect to my pixhawk with px4  using the command line below:
roslaunch mavros px4.launch fcu_url:='/dev/ttyUSB0:57600'

some warn and error appears
[code]
Can you give me some suggestion? Thank you very much!

[2015-04-08 23:27] vooon commented on #267
1. Please next use markdown code block (```)
2. `command unsupported: 520` - not a bug, just ignore
3. Default `px4_config.yaml` tuned for onboard direct connection (with low delay), you must disable time synchronization by setting `~conn/timesync` to 0

[2015-04-09 08:47] vmayoral opened #268 "mavros_extras do not compile"
Greetings,

I'm trying to compile mavros_extras in Indigo and here's the output:
[code]

[2015-04-09 09:04] mhkabir commented on #268
Is this hydro? I think I remember this from back then.

[2015-04-09 09:09] vmayoral commented on #268
@vooon this is Indigo.

[2015-04-09 09:09] vooon commented on #268
What version you tried to compile? In latest 0.11.1 there is no more `get_name()` (API changes).

[2015-04-09 09:09] vmayoral commented on #268
I can try reproducing it in Hydro if you consider necessary.

[2015-04-09 09:10] vmayoral commented on #268
I compiled master. Let me clean the package sources and builds and re do it all over.

[2015-04-09 09:12] vooon commented on #268
Test new build tool: `catkin` (not sure that it preinstalled with indigo)

VERY useful tool, can be called anywhere in ws, has `catkin clean --all`

[2015-04-09 10:22] #251 closed

[2015-04-09 10:50] vmayoral commented on #268
Rebuilding `mavros` i get an error with it:
[code]

[2015-04-09 11:01] vooon commented on #268
Update mavlink, current 2015.4.4, but 2015.3.13 fine too.

[2015-04-09 11:06] vooon opened #269 "link diagnostics don't shows mavlink_state_t (all fields are 0)"
Something changed in mavlink state counters and now it always zero.
In 0.8 as i remember that worked.

[2015-04-09 13:25] vmayoral commented on #268
That's perfect.

[2015-04-09 13:25] #268 closed

[2015-04-09 14:37] LorenzMeier commented on #193
@vooon @mhkabir Are you using this message yet? http://mavlink.org/messages/common#LOCAL_POSITION_NED_COV

I'm wondering if we should stick acceleration in earth frame into it as well, and cut the covariance to the upper triangular. That would end up being 36 floats, which is still manageable (144 bytes).

[2015-04-09 14:48] TSC21 commented on #193
@LorenzMeier that was an open issue (#94). From what I know, it's still not in use.
Seems a good add though, since it manages with position estimate uncertainty.

[2015-04-09 14:51] mhkabir commented on #193
No we aren't. No covariance from the PX4 estimation yet.

[2015-04-09 14:54] mhkabir commented on #193
And this issue is separate, I think. The thing here, the ROS Pose message expects attitude in the inertial frame. My flight visualiser thus was getting the track inverted.
The IMU message expects it in body frame.

[2015-04-09 14:58] TSC21 commented on #193
@mhkabir from what I remember in my thesis I had to invert the yaw axis so to sync both frames, as I was getting na invertion on Rviz.

[2015-04-09 15:04] mhkabir commented on #193
Yeah. As I said. It expects it in inertial frame.

[2015-04-09 15:08] TSC21 commented on #193
Yeah #195 seems to solve it then :)

[2015-04-09 15:45] mhkabir commented on #193
It would. If it worked. Which it doesn't. Using tf won't work here.

[2015-04-09 16:07] mhkabir opened #270 "Fix mavsetp script to use new topics"
Currently :
[code]

[2015-04-09 16:55] vmayoral opened #271 "mavros_extras: setup PX4FLOW"
Trying to set up the PX4Flow with Erle-Brain. `mavros` and `mavros_extras` have been properly compiled and all dependencies satisfied.

I launch APM with the following flags:
[code]

`mavros` launches with:
[code]
and outputs something like:
[code]

When connecting the PX4FLOW module a  new interface under `/dev` appears called `/dev/ttyACM0`:
[code]

Apparently no kernel driver gets loaded for th

[2015-04-09 18:15] vooon commented on #271
Please use `roslaunch mavros apm.launch fcu_url:=udp://:6001@ gcs_url:=udp://@` (if you need gcs bridge).

Then start **another** instance for px4flow: `roslaunch mavros_extras px4flow.launch`

[2015-04-09 18:16] vooon commented on #271
Also note, current px4flow plugin only gets data from device.

[2015-04-10 01:27] mhkabir commented on #271
You need two mavros instances to stream from PX4Flow and APM.

Architecturally I'd say you should use the i2c connection on the flight
controller and stream a flow message from there using mavlink if you need
to do stuff with it offboard.
On 09-Apr-2015 11:46 pm, "Vladimir Ermakov" <notifications@github.com>
wrote:

[2015-04-10 08:37] vmayoral commented on #271
@vooon and @mhkabir thanks for the help.

Followed @vooon tips and launched `mavros` ([log](https://gist.github.com/vmayoral/7a4915eb6fa35715aa04)) and then `mavros_extras` ([log](https://gist.github.com/vmayoral/aac1ee74ad7ff88625ad)) through `roslaunch`.

The topics available now are:
[code]

LEDs on the PX4FLOW module behave the same way:

Unfortunately `rostopic echo /px4flow/px4flow/ground_di

[2015-04-10 10:46] mhkabir commented on #271
Hi Victor,

Could you please update the flow Firmware from Qgroundcontrol. Something
seems to be off with the board Firmware. The ERR led shouldn't be on.

Check if you can connect to the board in QGC after that.
 On 10-Apr-2015 2:07 pm, "Víctor Mayoral Vilches" <notifications@github.com>
wrote:

[2015-04-10 17:02] vmayoral commented on #271
@mhkabir thanks. Did it and the PX4FLOW now seems to behave better (`red` LED is not blinking).

Tried also using `roslaunch mavros apm.launch fcu_url:=udp://:6001@` (thanks for the bridge pointer, quite useful) and `roslaunch mavros_extras px4flow.launch` and now finally i can see the topics publishing stuff :).

**Our goal from here is to interface PX4FLOW with Linux autopilots**. @ahcorde and I

[2015-04-10 17:34] mhkabir commented on #271
@vmayoral You should go with i2c. The i2c integral frame does not miss data unlike serial and accumulation is done on-sensor.
1. There was an option for sending the flow data to your flight controller (a relay) from mavros. I removed it to avoid the very issue we wish to mitigate by forcing people to use i2c. Currently on PX4, we only support i2c connections actively.
2. The APM codebase already h

[2015-04-10 20:56] wangsen1312 commented on #267
@vooon  Thank you for your help. It's my first time use mavros. Can you give me a simple sample such as read the attitude of px4 or write something into it. Thank you very much!

[2015-04-11 09:07] vooon commented on #267
PX4 wiki has examples: https://pixhawk.org/dev/ros/mavros_offboard

Altitude etc: http://wiki.ros.org/mavros#mavros.2BAC8-Plugins.global_position
Attitude: http://wiki.ros.org/mavros#mavros.2BAC8-Plugins.imu_pub

[2015-04-12 09:47] vmayoral commented on #271
@mhkabir,

I've been looking into the APM codebase support for the PX4FLOW module and i have not been able to identify the drivers but solely [a simple interface](https://github.com/erlerobot/ardupilot/tree/master/libraries/AP_OpticalFlow). I assume that the drivers are within the PX4Firmware code.

`AP_HAL_Linux` does not use PX4Firmware thereby we probably need to port the driver to Linux. We de

[2015-04-12 12:01] mhkabir commented on #271
Aah yes. APM uses the PX4 low-level device drivers for most peripherals.
The driver shouldn't be too difficult. Just one i2c transfer. I'll be happy to assist via skype :)

[2015-04-12 22:50] vmayoral commented on #271
I put some time into a Linux userspace I2C driver. Please have a look at https://github.com/erlerobot/ardupilot/blob/px4flow/libraries/AP_OpticalFlow/AP_OpticalFlow_Linux.cpp.

PX4Firmware code is using a `transfer` to read a few bytes from a specific I2C register. I matched it with [readRegisters](https://github.com/erlerobot/ardupilot/blob/px4flow/libraries/AP_HAL_Linux/I2CDriver.h#L32) primitiv

[2015-04-14 10:28] dani-carbonell opened #272 "Gyro raw messages"
Hi, I am currently working in a wheeled robot with ROS and we calculate the odometry using a high precision gyro and wheel encoders. We would like to use Pixhawk instead of this expensive gyro but using the orientation value (yaw) of the "imu/data" topic leads to a bad odomety if compared with the first one.

Could we have access to the gyro (raw - scaled) values in the topic "/imu/data_raw"?

Aft

[2015-04-14 11:28] vooon commented on #272
Not sure that it is mavros side, because for PX4 it is wery simple: https://github.com/mavlink/mavros/blob/master/mavros/src/plugins/imu_pub.cpp#L244

Try connect QGC and plot `HIGHRES_IMU.zgyro`.

[2015-04-14 13:20] blackcoder opened #273 "Unexpected behavior in offboard mode"
I am trying to perform offboard navigation using mavros following this procedure :
- run mavros with vision estimation enabled
- stream pose data to the new /mavros/vision_pose/pose topic (PX4 blinks green)
- arm the quad and fly manually
- switch to posctrl (all fine so far and quad holds position)
- switch to offboard mode (it gets rejected)
 - run the script to send setpoint : offboard mode acc

[2015-04-14 16:43] mhkabir commented on #273
@thomasgubler

[2015-04-14 17:15] thomasgubler commented on #273
what is the difference to the python script from the viewpoint of the autopilot --> Do both approaches use the exact same set of mavlink messages?

[2015-04-14 18:57] blackcoder commented on #273
Well, I tried to trace how the setpoint_position plugin works:
https://github.com/mavlink/mavros/blob/d1902d1331d32d30af911f04dcc842a657b209ff/mavros/src/plugins/setpoint_position.cpp

it seems that all it does is subscribe to the topic /mavros/setpoint_position/local , does some bit bashing (I think it's enabling only position control and disabling velocity and acceleration) and send the data thr

[2015-04-14 20:03] vooon opened #274 "[param] In latest PX4 param indexes not a constant"
With latest master i got lots of:
[code]

It is not a bug, and i can ignore that now, but param update speed is slowed by this logic.

(I'm doing that man: https://pixhawk.org/peripherals/radio-control/opentx/single_channel_mode_switch )

[2015-04-14 20:05] LorenzMeier commented on #274
That's an issue on our end I need to fix. Thanks for letting me know. It should be stable after boot.

[2015-04-14 20:37] vooon commented on #273
Different encoders — bug can't be here!
I think more likely this comment [api#L47](https://github.com/kuri-kustar/c_uart_interface_example/blob/object/autopilot_interface.cpp#L47):
[code]

So you may try edit type_mask:
[code]

[2015-04-15 09:58] vooon commented on #271
@vmayoral just looked your source, and it looks ok. Only one: maybe better move semaphore release right after transfer.

But i think that this issue can be closed (as it not mavros related).

[2015-04-15 09:58] #271 closed

[2015-04-15 10:02] vooon commented on #270
Strange, i fixed all names when introduce [`mavros.setpoint`][1] module. Maybe you run old version?

[1]: https://github.com/mavlink/mavros/blob/master/mavros/src/mavros/setpoint.py

[2015-04-15 10:42] blackcoder commented on #273
@vooon Yes, changing the mask works ! Maybe you should make this change permanent in mavros (Not sure if this would effect APM) ?

I will test the velocity set point next (the velocity setpoint in the current firmware doesn't work, so I will use an older PX4 firmware)

[2015-04-15 18:57] thomasgubler commented on #273
We should fix this in PX4

[2015-04-15 19:00] thomasgubler commented on #273
ah I was to fast...
@blackcoder did you just change the mask to make it work or is

[code]

needed as well?

[2015-04-15 21:14] vooon commented on #273
In mavros velocity vector is zero (all ignored data is zero), but before it ignored.

[2015-04-15 21:20] vooon commented on #273
And i think that it is bug, so this qirk may be removed after fixing https://github.com/PX4/Firmware/issues/2036 .

[2015-04-16 00:15] aerialhedgehog commented on #273
[api#L47](https://github.com/kuri-kustar/c_uart_interface_example/blob/object/autopilot_interface.cpp#L47) is definitely a hack.  At the time I wrote this, ignoring the velocity components didn't help.

Are you all able to command velocity setpoints?  See [PX4/Firmware/#1856](https://github.com/PX4/Firmware/issues/1856)

[2015-04-16 06:02] blackcoder commented on #273
@thomasgubler  as @vooon  said, the mavros sets the velocity vector to zero before sending it, so I just changed the mask
@aerialhedgehog the velocity setpoint in the new firmware is still broken, I am using an older firmware at the moment to test velocity setpoint

[2015-04-16 21:57] wangsen1312 opened #275 "Without GPS, Does the /mavros/setpoint_position/local work?"
Now I can arm the plane and I don't know how can I use the mavros to take off the plane?
I can use the vicon mocap system to capture the position?
Can I use vicon_bridge to publish it ? and does /mavros/setpoint_position/local works??
Thank you very much!

[2015-04-16 22:06] vooon commented on #275
It definitely works with PX4. What FCU do you use?

[2015-04-16 22:30] vooon commented on #275
But better address that question to FCU devs, but change topic with [`SET_POSITION_TARGET_LOCAL_NED`](https://pixhawk.ethz.ch/mavlink/#SET_POSITION_TARGET_LOCAL_NED).

[2015-04-17 13:43] wangsen1312 commented on #275
@vooon   I use the native PX4 with ArduCopter V3.2.1.   I am the beginner with the ros and mavros, the topic such as SET_POSITION_TARGET_LOCAL_NED  in mavlink not in mavros I don't know how to call it. Can you give me a piece of example? Thank you very much!

[2015-04-17 16:18] vooon commented on #275
PX4 or APM? Pixhawk (hardware) can run PX4 native firmware or APM firmware (which uses some parts of PX4 on that platform).
From your answer i suggest APM, and i don't know. Support for `SET_POSITION_TARGET_LOCAL_NED` is a new feature in APM:Copter, and i'm lack of user reports about how this works.

Most of this setpoint plugins translates ros messages into `SET_POSITION_TARGET_LOCAL_NED`, there

[2015-04-17 18:22] wangsen1312 commented on #275
@vooon  I'm sure  PX4 native firmware.  I use roslaunch px4.launch to connect it and safety arm to arm it.
I find plugins 6.14 setpoint_position (Sent LOCAL_NED_POSITION_SETPOINT_EXTERNAL to FCU) http://wiki.ros.org/mavros    Does it work now?
Thank you very much!

[2015-04-17 18:27] thomasgubler commented on #273
@blackcoder could you lend a hand for debugging the velocity issue?

[2015-04-17 19:00] vooon commented on #275
Post here result of: `rostopic echo -n1 /diagnostics` mavros knows most of firmwares (by it's number in heartbeat, don't forget \`\`\` for code block).
`LOCAL_NED_POSITION_SETPOINT_EXTERNAL` renamed to `SET_POSITION_TARGET_LOCAL_NED`. It works, but i'm unsure about disabled GPS (at least requires proper configuration of FCU).
But @mhkabir does positioning without GNSS, so i think it is possible.

[2015-04-18 07:50] blackcoder commented on #273
@thomasgubler  yes of course, just let me how do you want to approach it.

[2015-04-18 09:54] LorenzMeier commented on #275
Anyone interested in testing this one?
https://github.com/PX4/Firmware/pull/1983

[2015-04-18 09:55] LorenzMeier commented on #273
@blackcoder @aerialhedgehog Have you seen this branch / PR? https://github.com/PX4/Firmware/pull/1983

[2015-04-18 10:23] blackcoder commented on #273
@LorenzMeier , no I didn't see it before. I can test it in the next couple of days. What is the expected behaviour resulting from this PR?

[2015-04-18 10:48] vooon opened #276 "[param] rerequest don't count down retry counter."
Example mesages:
[code]

Also i seen TM regular messages with USB connection.

[2015-04-18 11:01] vooon opened #277 "Add link diagnostics for `gcs_bridge`"

[2015-04-18 11:47] #277 closed

[2015-04-18 12:28] vooon commented on #276
Debugging:
[code]

Note that seq out of order (prev 40, this 132 next 41).

[2015-04-18 12:53] vooon commented on #269
Very strange things happen with send seq numbers.
Example: 42, 43, 132, 44, 45, 133, 46, 134, 47....

Looks like there many instances of mavlink_status_t. Or it'is not synchronized among threads.
And i don't see easy way now. I can pull packet parser into interface and drop channel limitation in that part (instead of external storage, which requires channel number allocation, use class members).
A

[2015-04-18 13:10] vooon commented on #276
Seems that seq error is corresponding #269.
For this issue here interesting log:
[code]

MR: request param_index = 0
PX: here your param_value with param_index == 1 (!)

[2015-04-18 13:12] vooon commented on #276
Also perhaps that this issue linked with #274.

[2015-04-18 13:34] #276 closed

[2015-04-18 16:56] aerialhedgehog commented on #273
@LorenzMeier this is new to me too, will check it out

[2015-04-20 14:47] vmayoral opened #278 "Connection URL has issues when selecting different nets"
When doing:
[code]

[2015-04-20 14:53] vmayoral opened #279 "mavros, more than one `gcs_bridge`"
As it is right now, it seems like we can't have more than one `gcs_bridge` (naming issue):

[code]

We can probably bypass this by [renaming the node](https://github.com/mavlink/mavros/blob/master/mavros/src/gcs_bridge.cpp#L50) and recompiling the code. @vooon can we modify gcs_bridge to rename the node according to an argument (maybe the first one?) @ahcorde

[2015-04-20 14:56] vooon commented on #279
Rename it in your launch script.
FYI: `<node name="blahblahblah" />` declares it's name, and override init name.

[2015-04-20 14:59] vooon commented on #279
Also i don't recommend using background shells (trailing `&`) with ros nodes.
Best way - use launch files.

[2015-04-20 15:04] vooon commented on #278
Not sure that there no error in code, but you definitly should use 0.0.0.0 or (`:port`) here.
Bind address should be: any, machine ip (any IF).

[2015-04-20 15:06] vooon commented on #270
@mhkabir any update?

[2015-04-20 15:30] vmayoral commented on #279
Thanks @vooon that did it. In addition to launch files, `__name:="whatever-name"` works as well.

[2015-04-20 15:30] #279 closed

[2015-04-20 16:28] mhkabir commented on #270
OK, this works on latest.

Must've been issue with old version. Closing.

On Mon, Apr 20, 2015 at 8:36 PM, Vladimir Ermakov <notifications@github.com>
wrote:

[2015-04-20 16:28] #270 closed

[2015-04-22 13:27] hitimo opened #280 "HIGHRES_IMU bitmask"
Why is this bitmask needed?
https://github.com/mavlink/mavros/blob/master/mavros/src/plugins/imu_pub.cpp#L240

Thanks a lot!

[2015-04-22 20:42] vooon commented on #280
Look documentation: https://pixhawk.ethz.ch/mavlink/#HIGHRES_IMU

[2015-04-22 21:00] hitimo commented on #280
Ah yes that makes sense, thank you.

[2015-04-22 22:10] #280 closed

[2015-04-23 09:51] Royalcheese opened #281 "Connexion via serial 4/5 , optical flow implementation , GPS fake ?"
Hi everyone!
i'm a new user of px4 and mavros since one week. I'm trying to make it works via vicon in order to implement a new optical flow controller. But i've some basics issues which keep me from going deeper :(
i'm a bit confused with some points, if someone could help me <3

1/ i've installed mavros and px4 as described in tutorial, but when i'm running Roscore and $roslaunch mavros px4.laun

[2015-04-23 10:35] vooon commented on #281
1. it's a bug #269, see rx/tx rates (second part of link report) and heartbeat diag (connection status based on heartbeat).
2. If you override position from mavros you don't send it to FCU => FCU does not use your data. See extras plugins for that. Also it require some setup on FCU side, google it on px4 lists.
3. Also google px4 lists (or ask if there no answer).

[2015-04-23 10:37] vooon commented on #278
Any update?

[2015-04-23 11:30] vmayoral commented on #278
`0.0.0.0` seems to do the job. The problem can be also be bypassed using IPs in the same subnet.

[2015-04-23 11:41] Royalcheese commented on #281
Ok thank you i'm on it ! :)
For 2, in fact i was looking to fake the actual local_position of mavros in order to avoid to many change in the program , cause i was expecting that he was already sending local_pos to mavlink, which use it in case of GPS fake, but i maybe got wrong.
i keep giving feedback on this .

[2015-04-23 23:13] #278 closed

[2015-04-23 23:16] vooon commented on #281
2: FCU sends `LOCAL_POSITION_NED` -> MR local_position translate and publish message.

[2015-04-24 12:36] Royalcheese commented on #281
Ok i've worked about those problems and that's what i deduced about my problems :
Thanks you @vooon , so I have to modify attitude topic on mavros based on Vicon position instead of local position, i got confused with what is published and what is subscribed.
1/ Mavros and Mavlink can reach topic one each other but dont know when they are doing it, so that i can recover mavlink data for instance a

[2015-04-24 12:54] Royalcheese commented on #281
Thank you @vooon  :) Just a question, as ROSTOPIC INFO is not reliable, do the "setpoint_position/local" is a published topic from mavros to mavlink as i expect ? Because the "imu/data_raw" appears to be published by mavros through rostopic info :/

1/ Mavros and Mavlink can reach topic one each other but dont know when they are doing it, so that i can recover mavlink data for instance and mavros

[2015-04-24 15:20] Royalcheese opened #282 "Mavros_extra plugin not found"
Hi everyone !
i experiment some problem with mavros extra plugins, mavros don’t find the associated library of the mavros_extra plugins in order to make mocap vision working. Any idea why does it not find them ?
Thanks in advanced,
best regards.

[2015-04-24 15:29] vooon commented on #282
Did you do `source ~/your_ws/devel/setup.bash` after build?

[2015-04-24 15:35] vooon commented on #281
Read plugin documentation on [ros wiki](http://wiki.ros.org/mavros#Plugins).
Data flow is fixed: fcu sends -> publisher, fcu listen -> subscriber.

Setpoint position is desired position that fcu will try to achieve. That uses FCU internal position estimator.

[2015-04-24 18:56] voladoddi commented on #258
Hello guys,

even I am stuck somewhere like this so I went over to this - http://answers.ros.org/question/193411/mavros-topics-not-publishing/?answer=207827#post-id-207827
and just posted my problem as an answer.

Then I was searching more and found this.
I have already changed to "ttyUSB0" after verifying that my radio is plugged in to that port.
However,
when I do rosrun rqt_runtime_monitor [sam

[2015-04-24 22:15] vooon commented on #258
@voladoddi  No heartbeats => wrong port or packets is garbage (sad that because #269 we can't diagnose that).

[2015-04-26 13:51] vooon commented on #282
Updates?

[2015-04-26 14:04] vooon commented on #269
Trying to debug again (ohh, where gdb for dummies?) and i feel that it is definitely thread sync problem.

I see one seq stream for timesync (which i believe runs in first AsyncSpinner thread)
and different one for command_long 520, which runs in second thread because first blocks on RPC call to command plugin.

Before 0.11 there two threads: libmavconn receiver and ros spinner (callback executor)

[2015-04-26 14:14] vooon commented on #269
Looks more: it is stranger!

Looks like it per-plugin:
- sys_time messages 111 & 2
- sys_status: 0
- command: 76
- param: 21 & 20
- waypoint: 43, 40, 47 - one seq
- ftp: 110

[2015-04-26 14:51] #269 closed

[2015-04-26 14:52] vooon commented on #269
Ok, now i think that problem comes from many inlined copies of `mavlink_get_channel_status()`.

Upd: yes, that guess is true.

[2015-04-27 07:11] Royalcheese commented on #282
The source setup.bash was done, and Mavros/ px4 have been updated 2 hours before..

[2015-04-27 07:24] Royalcheese commented on #281
Ok i was confused ^^ Thank you @vooon !

[2015-04-27 08:35] Diamg opened #283 "Not able to arm using telem2"
Hi,

I'm using a raspberry 2 as onboard computer and I'm able to read the topic either from the usb as well as from the uart(rpi) to telem2(px4). The problem comes when sending an arming comand, it works with the us but not with the uart.
The response are:
$rosservice call /mavros/cmd/arming "value: true"
success: False
result: 4
$ rosrun mavros mavsafety arm
Request failed. Check mavros logs

On

[2015-04-27 08:58] vooon commented on #283
Please:

a. Update to 0.11.2 (yesterday release)
b. what launch script you used?
c. `rostopic echo -n1 /diagnostics`

Note: use triple ` for code blocks (read [github formatting page](https://guides.github.com/features/mastering-markdown/)).

[2015-04-27 09:02] vooon commented on #282
What ROS version used? I seen similar bug on Hydro when updated to REP 140 package.xml.
I recommend to update at least to Indigo (Jade release soon, but now it lack some useful packages like rviz).

[2015-04-27 13:44] Royalcheese commented on #282
You're right , upgrading to Indigo makes this problem not happening . Thank you !

[2015-04-27 13:44] #282 closed

[2015-04-28 11:06] Diamg commented on #283
Hi,
a. mavros is updated.
b. I'm using:
```roslaunch mavros px4.launch```
c.
```rostopic echo -n1 /diagnostics```
[code]

[2015-04-28 11:35] Royalcheese opened #284 "What is mavros/setpoint_mixin.h ?"
Hello !
I'm not sure about what is exactly this feature. It does implements the function set_position_target_local_ned(), but how dit it work with setpoint_position.cpp?
From now I understand that setpoint_position set the change of frame and setpoint_mixin is sending the desired position through the function, but are they ?
For context, I would write a similar plugin to catch Vicon data ( I alrea

[2015-04-28 15:46] wangsen1312 commented on #275
@vooon  After echo the diagnostics: the result is
header:
  seq: 42
  stamp:
    secs: 1430235591
    nsecs: 65052247
  frame_id: ''
status:
  -
    level: 0
    name: mavros: FCU connection
    message: connected
    hardware_id: /dev/ttyUSB0:57600
    values:
      -
        key: Received packets:
        value: 0
      -
        key: Dropped packets:
        value: 0
      -
        key: Buffer

[2015-04-28 18:23] vooon commented on #283
b. You should use `apm.launch`!
c. diagnostics looks good. just use right launch.

[2015-04-28 18:29] vooon commented on #275
You should use `apm.launch`, and perhaps FCU don't send `LOCAL_POSITION_NED`. No message - no data on topic.

[2015-04-28 18:34] vooon commented on #284
It's just reduces copy-paste because several plugins uses same message.
Definition on [L31][L31]. It gets UAS from plugin and send to fcu link encoded message.

[L31]: https://github.com/mavlink/mavros/blob/master/mavros/include/mavros/setpoint_mixin.h#L31

[2015-04-28 19:32] wangsen1312 commented on #275
Thank you very much!  ''' apm.launch '' works well!
However   "/mavros/local_position/local" still not working, Does it mean FCU internal position estimator not works well or I need something to boot it?

[2015-04-28 19:34] wangsen1312 commented on #275
@vooon   Thank you very much!!!   apm.launch   works well!
However "/mavros/local_position/local" still not working, Does it mean my FCU internal position estimator not works well or I need something to boot it because I want to use "/mavros/setpoint_position/local" to publish data in the near future.
Thank you in advance.

[2015-04-29 07:24] Diamg commented on #283
Hi,
I had tried the other launchers getting the same result. Any other idea?
Which is de difference between the launchers?  They are used depending on the firmware and not the hardware I guess.
Thanks

[2015-04-29 07:42] vmayoral commented on #271
@vooon and @mhkabir,

We keep blocked on the Linux-driver side. @mhkabir mentioned that he previously used `mavros` to send the information (through the `mavlink` topic i guess). Could anyone point out which are these commits on how to bring this back again?

Thanks,

[2015-04-29 09:05] vooon commented on #271
That was working before FX4Flow update, not sure about present status.
Old code: https://github.com/mavlink/mavros/blob/901dae0a98e5da20fba6ff1ca1767e7ec98fd641/mavros_extras/src/plugins/px4flow.cpp

[2015-04-29 09:11] vooon commented on #283
Demending on firmware, yes. But there different default target IDs and plugin configuration (and list).

[code]
-> apm.launch. px4 here at least have wrong ID's and ton of unused plugins. Also there unusable (PX4 only) timesync that eats telemetry bandwidth.

Also there at least should be several FCU messages at startup. You may find log in `~/.ros/log/<dir>`.
But i recommend do `rosclean purge` f

[2015-04-29 09:18] vooon commented on #275
Hmm, it strange, but you could check it with APM Planner 2. There exist widget with all messages.

No update on mavros topics almost always because FCU don't send that message.

[2015-04-29 13:06] Royalcheese commented on #281
So if I want to set the Local position of the drone I have to speak with local_position topic, and if I want to set a point to reach I have to speak with setpoint_position ?
But setpoint doesn't seems to get data from anyone , and local pos doesn't seems to send data to anyone.

As you told me : FCU NED-->local_pos ENU
setpoint ENU--->FCU NED

But what if I would set my own local pos (from the dat

[2015-04-29 13:13] Royalcheese commented on #284
Ok, thank you !

[2015-04-29 13:13] #284 closed

[2015-04-29 19:03] wangsen1312 commented on #275
@voon  I just awared that I used the pixhawk, so does apm.launch fine?
PS: I can connect to APM planner 2, and see the status widget, which one is the local_position?
Thank you very much!

[2015-04-29 19:54] vooon commented on #275
`LOCAL_POSITION_NED`. Pixhawk with **ArduCopter** firmware == APM.

[2015-04-30 07:19] Royalcheese commented on #281
Ok in order to get the local mocap frame you need to remap x,y to vision_pose/pose

[2015-04-30 10:26] Royalcheese commented on #281
just link the question to px4 user forum just in case: https://groups.google.com/forum/#!topic/px4users/yEBu74WEpqo

[2015-04-30 11:18] Diamg commented on #283
I finally changed the firmware to px4 but still not able to use the telem 2. With px4 it doesn't get the heartbeat. However I'm working with the USB fine by the moment.
Getting out of the topic, could you recommend me how to start working with offboard mode and local point topics? There is any example?
As I understood the list of things I should do first using ROS are:
a. arm: done
b. change to of

[2015-04-30 12:38] Royalcheese commented on #281
fixed with correcting z_vision weight

[2015-04-30 13:11] #267 closed

[2015-04-30 15:06] wangsen1312 commented on #275
@voon  Thank you very much!
After Google several times, maybe We can't get the local_position without GPS. So maybe I also can't set local_position without GPS.
PS: Now I have get the local position from VICON, I can send the attitude to TOPIC mocap_pose_estimate and vision_pose_estimate.  I don't know whether these two topics have any difference and how can I use this data in the next step?

[2015-04-30 15:59] dvorak0 opened #285 "SetpointAttitude plugin can not control throttle and attitude together"
I am using setpoint_attitude to control my quadrotor through mavros and pixhawk.

First, I tried to control attitude and throttle at the same time by publishing geometry_msgs::PoseStamped and std_msgs::Float64. This results that the speed of rotors jumps between normal speed and arming speed. It seems the throttle is set to 0 sometimes.

I fixed the problem by using geometry_msgs::PoseStamped.pose

[2015-04-30 22:44] vooon commented on #283
By default px4 dont start mavlink app at telem2. See documentation about `SYS_COMPANION` parameter (check name).
Next: takeoff may not work, i saw comments about commanding sp with increasing z.

a. arm
b. start sending setpoints
c. request  offboard

[2015-04-30 22:46] vooon commented on #285
@mhkabir any ideas?

[2015-04-30 22:48] vooon commented on #275
Mocap uses new message, so may be unsupported by fcu. So try vision first.

[2015-05-01 03:47] dvorak0 commented on #285
@vooon I got some ideas. The reason is removing 'static' incorrectly in

SHA: 1d283bf3c15b79ad2aa23ed3e2de7ff80f0261fe.

It disable the ability of setpoint_attititude to control thrust and attitude separately.

I've submit a pull request. https://github.com/PX4/Firmware/pull/2112.

[2015-05-03 09:28] vooon opened #286 "Use `mavlink_frame_char()` in libmavconn for better forwarding"
See https://github.com/mavlink/mavlink/commit/e485a67e4e9c1dd2e96acc67a229daf49893aaa1

But we need to find how to pass additional bad crc flag in MAVConnInterface API.

[2015-05-03 17:13] joshvillbrandt opened #287 "Example raw mavlink message"
Hey there. Could some provide me with an example of sending a raw mavlink message? Below is a simple send function that I've started. My specific questions at the moment are:

* How do I "pack" the payload64 attribute for various variable types? For the life of me, I can't figure out where functions like `mavlink_msg_set_actuator_control_target_pack_chan` are coming from in the [mavros plugins](ht

[2015-05-03 17:35] joshvillbrandt commented on #287
Hmm... Well it seems I should be using the [command service](http://docs.ros.org/api/mavros/html/srv/CommandLong.html) for starters... Looking into that now.

[2015-05-03 17:44] vooon commented on #287
* `mavlink_msg_xyz` comes from mavlink c-library ([generated sources](https://github.com/mavlink/c_library)).
* `fromlcm` - unused flag leaved for compatible with `mavlink_ros`
* Your example is wrong. You should encode your message to `mavlink_message_t`, then copy it to Mavlink.msg using `mavros::copy_mavlink_to_ros()`.

Also i not recommend to use to/from topics for controlling. Better find or

[2015-05-03 18:59] joshvillbrandt commented on #287
Hey @vooon, thanks for the reply!

I went ahead and switched to the using the command plugin. Here is my latest code:

[code]

Commands are now being sent and I can spin motors. However, the commanding is very unreliable. The biggest issue seems to be that the service calls sometimes seem to hang. I'll often issue a set of commands from my remote control, and then see the ROS_INFO logs for one of

[2015-05-03 19:05] joshvillbrandt commented on #287
Also, the number of `FCU: command received: ` messages never seems to equal the number of SET_SERVO commands my program is actually trying to send. Any clue about this? I am definitely sending the commands in rapid succession. Maybe the FCU keeps a very tiny buffer?

[2015-05-03 19:13] joshvillbrandt commented on #287
Alright, well, after further review, it appears that I managed to have to active serial connections to the APM. The number of FCU messages still doesn't match the number of commands I'm actually sending (a buffer issue on the APM side?), but otherwise everything seems to be working well.

Thanks for your help, @vooon!

[2015-05-03 19:13] #287 closed

[2015-05-03 19:41] vooon commented on #287
Note that service not best way for continuously stream values. Topic are better in that case.
Also note that for each COMMAND_LONG plugin waits COMMAND_ACK (because APM always send them and `confirmation` does not matter) also it generates lots of "command received:" messages, which floods telemetry link if you send commands too often.

About "command received:" - i think that in past it prints co

[2015-05-03 21:13] joshvillbrandt commented on #287
Ah, I think [rc/override](http://wiki.ros.org/mavros#mavros.2BAC8-Plugins.rc_io) is exactly what I need! The documentation notes that this is for APM only though. I'd like my code base to work with both the APM and PX4 hardware. What is the best approach to directly set the RC out values for both platforms?

My application, by the way, is for an underwater vehicle (see the [BlueROV](https://github

[2015-05-03 21:43] MarcGyongyosi opened #288 "frame of setpoint"
Hi, quick question - just to make sure everything will be working as expected during the next tests tomorrow: when I send a setpoint as PoseStamped on the mavros/setpoint_position/local topic does it take the frame into consideration? I.e. if I send a point x,y,z,yaw in the fcu frame, that is relative to the fcu itself, right? So If I were to send a PoseStamped in a different frame - e.g. local_or

[2015-05-03 22:59] vooon commented on #287
For APM - `rc/override` (raw PWM values),
PX4 - actuator_control, but it run in OFFBOARD mode and normalized (pass trough mixer).

[2015-05-03 23:02] vooon commented on #288
I think, its local_origin, not body frame.
Not sure does tf translate or not...

[2015-05-04 04:42] #285 closed

[2015-05-04 08:48] Diamg commented on #283
I've read it and I have the ```SYS_COMPANION``` parameter to 921600 but still not getting the heartbeat.
On the other hand, using the USB I'm aible to change to ```OFFBOARD``` by using ```rosrun mavros mavsys mode -c OFFBOARD``` if no rc signal is recived for first time. Otherwise it change the nav state but the main state remains on ```MANUAL``` so it change again the nav state to ```MANUAL```.
[

[2015-05-04 10:30] vooon commented on #283
Not normal, but this questions better ask at [px4users](https://groups.google.com/forum/#!forum/px4users).

Ensure that data comes to your uart adapter. Use `minicom -D <device> -b 921600`.
Then check your url.

Guided command is first implemented method, now better use `mavsys mode`.
Other possible way - configure OFFBOARD switch on your RC.

[2015-05-04 10:45] Diamg commented on #283
Ok thanks, I will ask there.
The telem 2 should be a px4 firmware issue also because I'm not able to connect via screen or minicom.
Thanks

[2015-05-04 14:44] wangsen1312 opened #289 "Can VICON data replace local_postion data?"
Now I have get the position from VICON, I can send the attitude and position to TOPIC vision_pose_estimate. Because I don't have GPS now, So can I transfer VICON data to local_position instead so that I can navigation indoor.

[2015-05-05 07:41] supermice commented on #49
Hi, everyone
     Does that means the attitude and position use the different base_coordinates in ROS? I tried to display the 'tf' data in ROS rviz use mavros . I find that the attitude's x axis is in red and when I move the aircraft along the attitude's x axis the 'tf' shows move to left(-y direction).  Is there any problem  with the local_origin tf or I use the old mavros version?

[2015-05-05 09:45] Royalcheese commented on #289
I don't see the question :p

[2015-05-05 12:45] wangsen1312 commented on #289
@Royalcheese  Thank you for your attention.
Now what I want to is using VICON data instead the local_position calculated by FCU.
Can you give me some suggestion?

[2015-05-05 12:57] Royalcheese commented on #289
I've experimented same problem last week ^^ In fact the purpose is done, but you have to remap data in node.launch file.
Something like that : <remap from="/mavros/vision_pose/pose" to="/mavros/mocap/pose">
you have more explanation on remap here : http://wiki.ros.org/roslaunch/XML/remap
and some remap example here : https://pixhawk.org/dev/ros/visual_estimation
I Hope it will help :)
have a good

[2015-05-05 14:01] wangsen1312 commented on #289
@Royalcheese Thank you very much! I will try it ASAP.

[2015-05-06 09:53] Royalcheese commented on #288
Are you overwriting the topic with your own talker ? Because i've done it, but i'm not sure if it just erase setpoint_pos topic or if it write data on it to make setpoint_pos plugin working. In that case you will have tf translating I suppose.

I'm interested about the results of your test, concerning what frame you have to send in PoseStamped if it do not bother you :)

[2015-05-06 12:06] jzy0820 opened #290 "Installation issues for hydro"
I can't run this
rosdep install --from-paths src --ignore-src --rosdistro hydro -y

[2015-05-06 15:07] vooon commented on #290
Please tell detailed what you want to do? What error it prints?

[2015-05-07 07:34] Royalcheese commented on #289
Take care of the weight of "vision sensor" in parameter of the fcu : you can set it via QGC . It must be very higher than the other parameter of position (GPS..) because it work like a vision sensor ( as i understood) and the weight is the credit accorded to the sensor. If you want to be full with vision sensor you should increase this weight high.
Take care at CBRK_no_vision = 0 too
have a good d

[2015-05-07 15:31] wangsen1312 commented on #289
@Royalcheese   Thank you for your reminder!  There is still something wrong that why I still can't see the local_position.   I get the vicon data and publish it to vision_pose_estimate topic and I add the remap in launch file.
Do you have the same setup as me?  Can you share what you do? Thank you very much!

[2015-05-07 18:38] wangsen1312 commented on #275
@vooon   Now I can send the VICON position to vision_pose_estimation topic. What I do next is to replace the local_position/local data with these data.  Can you give me some suggestion?
Thank you very much!

[2015-05-07 19:51] wangsen1312 opened #291 "local_position/local can't not work?"
when I type
rostopic echo /mavros/local_position/local
It shows:
WARNING: topic [/mavros/local_position/local] does not appear to be published yet

I can echo every published topic except local? Is that something wrong?

[2015-05-07 20:54] vooon commented on #291
Does FCU send [LOCAL_POSITION_NED](https://pixhawk.ethz.ch/mavlink/#LOCAL_POSITION_NED)?

[2015-05-07 20:56] wangsen1312 commented on #291
Thank you very much! @vooon  How can I find this?

[2015-05-07 21:08] TSC21 commented on #291
@wangsen1312 have you checked the firmware startup script?

[2015-05-07 21:12] wangsen1312 commented on #291
@TSC21   Thank you for your attention. What do you mean about firmware startup script? Can you give me more hints

[2015-05-07 21:16] TSC21 commented on #291
https://github.com/PX4/Firmware/blob/master/ROMFS/px4fmu_common/init.d/rc.usb

[2015-05-07 21:26] TSC21 commented on #291
If you are using APM, you probably need to activate it in Mission Planner. But that I'm not sure, cause I work with PX4, not with Arducopter.

[2015-05-07 21:29] wangsen1312 commented on #291
@TSC21  How can I activate it? I will try this. Thank you for your sharing.

[2015-05-08 00:59] mhkabir commented on #291
Short story : It won't work unless you implement it in the APM codebase.
All the estimators and controllers work in the global frame for APM.
On 08-May-2015 2:59 am, "wangsen1312" <notifications@github.com> wrote:

[2015-05-08 01:23] wangsen1312 commented on #291
@mhkabir    Thank you very much!!  I am a new user for APM. So can you give me an example that when this example works I can get the local position? Thank you again!

[2015-05-08 08:13] vooon commented on #291
Probably easier switch to PX4, rather than implementation in APM...

[2015-05-08 08:13] vooon commented on #290
Updates?

[2015-05-08 08:39] TSC21 commented on #291
@wangsen1312, @vooon is right! Probably it's better for you to switch to PX4 firmware than use the APM and have to implement this feature from scratch. Ang given you are a "new user", probably it will take much more time for you to get this done.
Anyway, if you still want to implement this on APM, you should check the APM repo on Github and open an issue on it, as this is off-topic and not related

[2015-05-08 09:54] sdipendra commented on #258
@voladoddi : I had the same problem, this might help.
$ cd ~/catkin_ws/src
Assuming catkin_ws is your catkin workspace.
$ git clone https://github.com/y22ma/mavlink_ros
$ cd ~/catkin_ws/
$ catkin_make
.....
.....
$ roscore
In a new terminal window.
$ rosrun mavlink_ros mavlink_ros_serial -p /dev/ttyACM0 -b 115200
Assuming your Device is at ttyACM0.
$ rostopic list -v

Published topics:
 * /mavlink

[2015-05-08 10:16] vooon commented on #258
@sdipendra `mavlink_ros` is a completely different package (and now deprecated by mavros).

@voladoddi In latest release (0.11.2) bug #269 fixed, please update and check FCU connection diag.

[2015-05-08 14:44] wangsen1312 commented on #291
@vooon @TSC21 @mhkabir   Thank you for your sharing ideas!  I don't know because I use PIXHAWK with PX4 and my plane is quadcopter. So I don't know is PX4 for APM? Do I need to flash a firmware?

[2015-05-08 14:49] mhkabir commented on #291
Please see :

www.pixhawk.org/choice

Pixhawk is the hardware. APM and PX4 are two different software stacks for
it.
On 08-May-2015 8:14 pm, "wangsen1312" <notifications@github.com> wrote:

[2015-05-08 14:57] wangsen1312 commented on #291
@mhkabir  Maybe I have tried it before. If I use Qgroundcontrol to flash it, it will be PX4, If I use Mission Planner, it will be APM? Is that all right?
PS: Can PX4 stack control my quadcopter? If it can, I will flash it as soon as possible!

[2015-05-08 15:31] mhkabir commented on #291
Yes. Please read the PX4 wiki and mailing list for more details.

Closing.

[2015-05-08 15:31] #291 closed

[2015-05-08 22:01] wangsen1312 commented on #289
@Royalcheese  Now I can get the local_position NOW. But I still cannot change the local_position data with the VICON when I use the remap?
Did your works well? Thank you very much!

[2015-05-11 07:32] Royalcheese commented on #289
Mine works, have you decreased the weight of other sensors in QGC ?

[2015-05-11 12:48] Royalcheese commented on #289
https://pixhawk.org/dev/ros/visual_estimation?s[]=odroid

[2015-05-11 13:52] wangsen1312 commented on #289
@Royalcheese   In QGC, How can I find the weight of sensors parameters? I only find the CBRK_no_vision and change it to 0.
Thank you very much~

[2015-05-12 12:28] wangsen1312 commented on #289
@Royalcheese  Thank you very much! I can make the local_position workable. Does this workable when use setposition/local topic?

[2015-05-12 13:05] tuloski opened #293 "mavsys in .launch"
Now it is not possible to put mavsys in the .launch file.
It'd be a nice feature to have.

[2015-05-12 13:49] vooon commented on #289
I think yes, as i understood commander uses same local position uORB that you can see in mavros topic.

[2015-05-12 14:01] Royalcheese commented on #289
I'm on it ;) like vooon I think it does, but offboard control behaviour is somehow.. strange for now ^^

[2015-05-12 14:20] vooon commented on #293
Implementation steps:

1. [ ] extend mavros/State: add connection status flag
2. [ ] make `~/state` latched type
3. [ ] add flag (`--wait`) to mavsys that:
  a. waits rostopic creation
  b. waits until connection establish.

[2015-05-12 14:22] vooon commented on #293
Also that flag may be very useful in some other tools.

- [ ] mavsafety, but perhaps w/o arm
- [ ] ??? Discussion?

[2015-05-12 17:59] wangsen1312 commented on #289
@Royalcheese Thank you very much~ I will try it ASAP. If I can get the stable result, I will tell you soon.

[2015-05-12 21:52] ramonmelo opened #294 "APM SITL - mavros don't publish any topic for ArduCopter"
Hello everyone,

I'm trying to make a multi-robot system for a group of aerial and land robots using the APM autopilot system and ROS. Before any tests in real robots, I was using the simulation to test the algorithms.

I followed the tutorial on this [link](http://dev.ardupilot.com/wiki/simulation-2/sitl-simulator-software-in-the-loop/setting-up-sitl-on-linux/), and worked very well. Using the AP

[2015-05-13 12:48] Royalcheese commented on #289
Thanks you ! right now i've connected ground PC to ODROID to FCU. i will test vicon data and offboard soon

[2015-05-13 22:52] vooon commented on #264
Plugin almost done, by #292 . Need test and fix todo.

[2015-05-13 23:55] vooon commented on #264
(#292 merged, my fixes also uses that number. Perhaps better use this issue, but too late)

[2015-05-14 18:22] #275 closed

[2015-05-15 06:38] jzy0820 commented on #290
I'm so sorry too late to reply.
I want to link the MAVlink in ROS. The original words is as following. It's one step of all.
MAVLink

MAVLink is the communication API used by MAVCONN. It is a header-only library and thus does not need to be compiled. Just download it via GIT (you can also update it this way with git pull)

git clone git://github.com/mavlink/mavlink.git
cd mavlink
cd ..
MAVCONN

Do

[2015-05-15 06:55] jzy0820 opened #295 "I have a big problem! help"
I want to link the MAVlink in ROS. The original words is as following. It's one step of all.
MAVLink

MAVLink is the communication API used by MAVCONN. It is a header-only library and thus does not need to be compiled. Just download it via GIT (you can also update it this way with git pull)

git clone git://github.com/mavlink/mavlink.git
cd mavlink
cd ..
MAVCONN

Download MAVCONN via GIT

git clon

[2015-05-15 08:33] molinsp commented on #294
Hi,

I'm working on a similar idea. I was able to run simulations with multiple instances of ArduCopter connected to several mavros nodes.
Maybe your issue is also related to the fact that you connect using a tcp port. I had issues with this and switched to using udp.
http://answers.ros.org/question/208265/mavros-multi-vehicle-simulation/

Maybe we can work together on this if you are interested.

[2015-05-15 10:28] vooon commented on #295
1. Issue header non informative, next time provide a short description of your problem.
2. mavconn is totally unrelated to this project. **lib**mavconn is different. Did you read [installation instructions][1]?

[1]: https://github.com/mavlink/mavros/tree/master/mavros#installation

[2015-05-15 10:32] vooon commented on #295
Related to #290.

[2015-05-15 10:32] #295 closed

[2015-05-15 10:36] vooon commented on #290
Please don't open new issue (#295), when already opened this.

Please specify:
1. OS distibution (name and version)
2. Machine architecture (e.g. x86/amd64/armhf)
3. ROS distribution version

[2015-05-15 10:36] vooon commented on #290
1. Issue header non informative, next time provide a short description of your problem.
2. mavconn is totally unrelated to this project. **lib**mavconn is different. Did you read [installation instructions][1]?

[1]: https://github.com/mavlink/mavros/tree/master/mavros#installation

[2015-05-15 16:14] jzy0820 commented on #290
I'm so sorry.I'm a newer and not good at speak English.
I just want to link a uav with pixhawk in the ros in Ubuntu.
Do you have a method to help me solve it?
Thank you

[2015-05-15 16:24] jzy0820 commented on #290
I am trying to link by a web (https://pixhawk.ethz.ch/installation/ubuntu#get_your_ubuntu_up_and_running)

[2015-05-15 19:30] vooon commented on #290
I'm too :)

I hope that you used latest LTS 14.04? Because 11.10 is too old (4 years).
14.04 LTS is best option for you, because there available ROS Indigo and Jade soon, while on 15.04 only Jade (coming soon).

Next, this howto is little outdated, also you only need ROS for MAVROS.
Other listed software is offtopic here, but i think that minimal tool set is:
1. QGC or APM Planner 2 (depending on

[2015-05-15 19:38] vooon commented on #290
Also some useful information on pixhawk.org:
- https://pixhawk.org/dev/ros/getting_started_tutorial?s[]=mavros
- https://pixhawk.org/dev/ros/mavros_offboard
- https://pixhawk.org/dev/software_architecture?s[]=mavros

[2015-05-16 14:06] ramonmelo commented on #294
Hello,

Yes, that works, using the UDP connection. Thanks!

And, yes, we can do some work. For now I making a simple module that will be over the mavros system, as a new layer of control, it's still in development, but will aggregate the important data from the UAV (gps, rel_alt, status...) in one place. Besides create a communication interface between the drones.

[2015-05-16 14:06] #294 closed

[2015-05-17 14:50] TSC21 commented on #264
@vooon new sensor type was added: https://github.com/mavlink/mavlink/pull/381/files. So, ideally @tfoote could add `LASER` `radiation_type` to `Range.msg` enum (reason: as I explained in the comment on https://github.com/mavlink/mavros/pull/292#issuecomment-101754507).

[2015-05-17 15:19] TSC21 commented on #264
Another thing: https://github.com/mavlink/mavlink/pull/383/files - can this enum be added then to `/mavros/mavros/include/mavros` in `sensor_orientation.h` or similar?

[2015-05-17 16:33] vooon commented on #264
@TSC21 as soon as it merged i will do release of mavlink package.

[2015-05-17 16:35] TSC21 commented on #264
OK. Any ideas how to then include it here: https://github.com/TSC21/mavros/blob/external_sensors_connect/mavros_extras/src/plugins/distance_sensor.cpp#L231?

[2015-05-17 16:39] TSC21 commented on #264
Update: https://github.com/mavlink/mavros/pull/296#issuecomment-102821032

[2015-05-17 17:27] vooon commented on #264
Make a std::array with orientations then choose one by orientation enum.
Also add param for setting parent frame_id, child frame_id same as in Range.header.

As i understand tf: you don't need actually rotate FCU frame_id, only publish sensor orientation value.

[2015-05-18 03:31] TSC21 commented on #264
OK I think I will do this in a next PR. You can merge this one in the mean time, if everything's ok.

[2015-05-18 11:37] TSC21 commented on #264
@vooon https://github.com/mavlink/mavlink/pull/383 was merged. You can do mavlink release now.

[2015-05-18 11:43] vooon commented on #264
Already done.

[2015-05-18 11:44] vooon commented on #264
- https://github.com/ros/rosdistro/pull/8482
- https://github.com/ros/rosdistro/pull/8483
- https://github.com/ros/rosdistro/pull/8484

[2015-05-18 11:46] TSC21 commented on #264
Why do we need parent frame_id, if we only want tf between `fcu` and the sensor? Doesn't make sense to add other tfs, I think.

We don't rotate fcu frame. We rotate the sensor id accoriding to the enum and then the tf between the fcu and the sensor is published, with the proper orientation of the sensor being updated.

[2015-05-18 11:49] TSC21 commented on #264
And do you merge now or are you waiting for the orientation stuff?

[2015-05-18 11:52] vooon commented on #264
Waiting orientation and **test results**.

[2015-05-18 11:53] TSC21 commented on #264
Results from which side? Cause ROS side working ok. I'm getting the PX4 side worked on now.

[2015-05-18 12:04] jzy0820 commented on #290
Is this useful "https://pixhawk.org/peripherals/onboard_computers/odroid_u3"?
My flight control is Pixhawk like this "https://pixhawk.org/modules/pixhawk".

[2015-05-18 18:03] vooon commented on #264
Ok, if you say that plugin works, it's enough for now. I can merge current PR if you need that. But probably better merge when all features done.

[2015-05-18 18:12] vooon commented on #290
Yes if you used Odroid-U3.
And it is useful, but you shall keep in mind that this manual is for ARM Cortex (armhf) based computer.
Usually linux on any platform is pretty same, and only few differences like repo url, port names etc.

[2015-05-18 20:26] TSC21 commented on #71
@vooon want to try to get this up and running?

[2015-05-18 20:28] TSC21 commented on #264
No need to merge, unless some other PR is added. I'm advancing to create the `std::array sensor_orientation`. One question: isn't it better to add it to `uas` definition, so to be used by other plugins if needed?

[2015-05-18 20:56] MauroPagliarella opened #297 "Connection problem between Ground Control Station APM Planner and mavros using UDP link."
Hi all
I'm building a robot running ROS on board, and I would like to receive robot telemetries and send telecommands to the robot using the
APM ground control station v2.0.17 using the mavros UDP link. I performed the test described here below but it didn't work.
Any help is appreciated. Thank you very much.
Mauro

SYSTEM CONFIGURATION:
1: Laptop running Ubuntu 14.04 & ROS Indigo with the followi

[2015-05-18 21:21] vooon commented on #264
Because it not depend on uas data it may be simple helper function in
libmavros. Please make new cpp.
18.05.2015 23:29 пользователь "TSC21" <notifications@github.com> написал:

[2015-05-18 21:24] vooon commented on #71
Maybe, but it also require using eigen.
18.05.2015 23:26 пользователь "TSC21" <notifications@github.com> написал:

[2015-05-18 21:24] TSC21 commented on #264
You mean here: https://github.com/mavlink/mavros/tree/master/mavros/include/mavros?

[2015-05-18 21:41] vooon commented on #264
I mean src/lib, and add function definition to utils.h
19.05.2015 0:24 пользователь "TSC21" <notifications@github.com> написал:

[2015-05-18 21:48] TSC21 commented on #264
so what do I put in `/src/lib/sensor_orientation.h` and what do I put in `/include/mavros/utils.h`?

[2015-05-18 22:10] vooon commented on #264
C++ and C split definition and implementation in `.h` and `.cpp` (`.c`) files. So you should put function definition in `utils.h` and implementation in `/src/lib/sensor_orientation.cpp`.

Then just use `<mavros/utils.h>`.

[2015-05-18 22:12] TSC21 commented on #264
Then just use <mavros/utils.h>.

OK that was what I was already doing :) thanks

[2015-05-18 22:24] vooon commented on #297
Mavros desined to be just a bridge for FCU-ROS, not ROS-GCS. For GCS they provide transparent proxy, so it acts like direct FCU-GCS connection.
GCS messages even not passed to plugin system, and i don't want to change that (there lots of error prone).

So it you want to communicate ROS-GCS you should implement ROS node that mimic to FCU.
Mavros here not fit, but it's part **libmavconn** may be use

[2015-05-18 22:26] TSC21 commented on #264
In `utils.h`, do I have to use `inline`, since the method implementation is in `/src/lib/sensor_orientation.cpp`?

[2015-05-18 22:36] vooon commented on #264
No! Inline for `.h` files. And there regular function, so no `static`, no `inline` no `constexpr`.

[2015-05-18 22:39] TSC21 commented on #264
Willco :+1:

[2015-05-19 02:14] MarcGyongyosi commented on #288
I will test it as soon as I have some for test data from my localization framework in!

[2015-05-19 02:41] MarcGyongyosi opened #298 "Missing linear acceleration from /mavros/imu/data"
Hi,

so this is a weird problem that I haven't had so far: I suddenly cannot get the linear acceleration data on the /mavros/imu/data topic (/mavros/imu/data_raw is empty). I reflashed the PX4 firmware with the latest stable release and also recompiled mavros with the latest release. The system companion parameter is set to 921600 and I am connected via UART on Telem2.

Does anyone have any insigh

[2015-05-19 03:03] MarcGyongyosi commented on #298
Sorry about that. I had switched my SD cards and the streams on the one I was using was sending over the wrong port..........

[2015-05-19 03:03] #298 closed

[2015-05-19 18:39] MauroPagliarella commented on #297
I don't use an FCU.
I control my robot by ROS (running on board), and I need to send some control commands to the robot from a ground control station. Moreover, I would like to receive robot telemetries (imu, encoder, gps etc.), by means of a control application running on a laptop,  so I thought to use for this purpose the GCS.
I'll check the links in your answer.

Thank you very much for the cla